.rfqCard {
    padding: 2.4rem 5.6rem 3.2rem 3.2rem;
    margin-bottom: 1.6rem;
    display: flex;
    align-items: flex-start;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -.8rem;
        background: rgba(165, 182, 208, 0.1);
        height: .1rem;
        width: 90%;
    }

    &:hover {
        background: rgba(255, 203, 109, 0.06);
    }

    .img-container {
        width: 4.6rem;
        height: 4.6rem;
        border-radius: 50%;
        border: .1rem solid rgba(45, 45, 56, 0.1);
        overflow: hidden;
        margin-right: 1.6rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h4 {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 100%;
        color: #2D2D38;
        margin-bottom: .8rem;
    }

    p {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: rgba(45, 45, 56, 0.75);
    }

    .rfq-details {
        span {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 100%;
            color: rgba(45, 45, 56, 0.75);
            display: block;
            margin-bottom: .8rem;
        }

        h6 {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 100%;
            color: #2D2D38;
            display: flex;
            align-items: center;

            span {
                margin-bottom: 0;
            }
        }
    }


}