.chat {
    .user-header {
        padding: 0 2.4rem 0 3.2rem;
        height: 7rem;
    }

    .header-post-request {
        .add {
            display: block;
        }

        .offer {
            display: none;
        }

        &.active {
            background: #F5F7FA;

            .add {
                display: none;
            }

            .offer {
                display: block;
            }
        }
    }

    .message-content-left-parent {
        position: relative;
    }

    .message-content-bottom {
        background: #FFFFFF;
        box-shadow: 0 -.4rem 1.2rem rgba(34, 34, 34, 0.03);
        border-radius: 0 0 .3rem .3rem;
        position: sticky;
        bottom: 0;
        height: 9.4rem;
        width: 100%;

        .message-content-bottom-child {
            padding: 2.4rem 4.8rem 2.4rem 2.4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 100%;
                color: #A5B6D0;
                margin-bottom: .8rem;
            }

            p {
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 2.4rem;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #464646;
                display: flex;
                align-items: center;
                margin-bottom: 0;

                span {
                    color: rgba(70, 70, 70, 0.25);
                    display: block;
                    margin-right: .4rem;
                }
            }
        }
    }

    .message-content-left {
        background: #EFF4FC;
        border-radius: .2rem;
        padding: 2.4rem;
        height: 40rem;
        overflow: auto;
    }

    .chatCard {
        background: #FFFFFF;
        border-radius: .2rem;
        padding: 1.6rem;
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.6rem;
        position: relative;

        .img-container {
            width: 8.2rem;
            height: 8.2rem;
            margin-right: 1.6rem;
            border-radius: .2rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .chatCard-content {
            display: flex;
            flex-direction: column;
            width: 100%;

            .title {
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 1.2rem;
                line-height: 100%;
                color: #A5B6D0;
                margin-bottom: .8rem;
            }

            p {
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 1.6rem;
                line-height: 100%;
                color: #464646;
                margin-bottom: 0;
                display: flex;
                align-items: center;

                span {
                    font-family: Mark Pro;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 100%;
                    color: #E74445;
                }
            }

            .chatCard-bottom {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .chat-delete-card {
                position: absolute;
                top: 1.6rem;
                right: 1.6rem;
                padding: 0;
                background-color: transparent;
                border: 0;
                width: 2.2rem;
                height: 2.2rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .company-about-chat {
        background: #FFFFFF;
        border-radius: .2rem;
        padding: .8rem 2.4rem;
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.6rem;

        .title {
            margin-bottom: .8rem;
        }

        .location {
            display: flex;
            align-items: center;
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 100%;
            color: #363636;
            margin-right: 2.4rem;
            margin-bottom: 0;

            svg {
                margin-right: .8rem;
            }
        }

        .img-container {
            width: 5.4rem;
            height: 5.4rem;
            border: .1rem solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: .6rem;
            margin-right: 1.6rem;
            object-fit: cover;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .message-content-left-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        svg {
            margin-bottom: 2.4rem;
        }

        p {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 125%;
            color: #2D2D38;
            opacity: 0.75;
            text-align: center;
            margin-bottom: 2.4rem;
        }
    }
}

.suppliers-chat {
    .chat-card-body {
        height: 50rem;
    }


    .suppliersOrder {

        .chat-delete-card {
            width: 3rem !important;
            height: 3rem !important;

        }

        .amount {
            box-sizing: border-box;
            border-radius: .7rem;
            top: 1.6rem;
            right: 5.8rem;
            position: absolute;
            display: flex;
            align-items: flex-start;
            overflow: hidden;
            background-color: #fff;
            border: .1rem solid #FFCB6D;

            input {
                height: 2.8rem;
                width: 6rem;
                border: none;
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 100%;
                text-align: center;
                color: #2D2D38;
                padding: 0;
                display: none;
            }

            button {
                background: #FFCB6D;
                border-radius: .6rem;
                width: 3rem;
                height: 2.8rem;
                border: none;
                padding: 0;
            }
        }
    }
}