.compainiesCard {
    background: #FFFFFF;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: .6rem;
    padding: .8rem;

    img {
        width: 100%;
        height: 17.5rem;
        object-fit: cover;
        border-radius: .3rem;
        margin-bottom: 1.6rem;
    }

    .compainiesCard-inner {
        padding: 0 .8rem 1.4rem;

        .title {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            img {
                width: 2.4rem;
                height: 2.4rem;
                margin: 0;
                margin-right: .8rem;
            }

            h4 {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }

        .companies-card-detail {
            div {
                margin-bottom: 1.4rem;

                p,
                span {
                    text-align: left;
                    width: 100%;
                }
            }

            .card-span {
                margin-top: 2.4rem;
                display: block;
                text-decoration-line: underline;
            }
        }
    }
}