.about {
    padding-top: 5.6rem;

    .about-main-img img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
        margin-bottom: 3.2em;
    }

    p {
        font-family: "Mark Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #696969;
        margin-bottom: 2.4rem;
    }

    .about-card-parent {
        margin-top: 7.2rem;

        .about-card {
            margin-bottom: 7.2rem;
        }

        .title {
            display: flex;
            align-items: center;
            margin-bottom: 2.4rem;

            img {
                border-radius: 6px;
                width: 2.4rem;
                height: 2.4rem;
                margin-bottom: 0;
                margin-right: 1.2rem;
            }

            span {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 3.2rem;
                line-height: 100%;
                color: #2D2D38;
            }
        }
    }
}