.suppliers-card {
    background: #FFFFFF;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: .8rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: .8rem;

    .suppliers-card-left {
        padding: .8rem;
        width: 40%;

        .title {
            margin-bottom: 1.6rem;
        }

        .supplier-card-list {

            p,
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 1.2rem;
                line-height: 100%;
                color: #666666;
            }
        }
    }

    .suppliers-card-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 45%;

        img {
            width: 15rem;
            height: 19.2rem;
            margin-left: .8rem;
        }
    }
}