.header-middle {
    .logo {
        width: 75%;
        height: 4.9rem;

        img {
            width: 100%;
            height: 100%;
        }
    }



    .account-button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 100%;
        color: #2D2D38;

        img {
            width: 3.4rem;
            height: 3.4rem;
            margin-right: .8rem;
        }
    }

    .header-class-a {
        margin-right: 2.4rem;

        svg {
            width: 2rem;
            height: 1.8rem;
        }
    }

    .header-input-checkbox {
        padding: 0 1.2rem 0 .8rem;
        height: 3.8rem;
        border: .1rem solid rgba(45, 45, 56, 0.1);
        box-sizing: border-box;
        width: fit-content;
        border-radius: .6rem;
        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 100%;
        color: #2D2D38;

        label {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;

            input {
                margin-right: 1.8rem;
                opacity: 0;

                &:checked~.checkmark {
                    background-color: #222222 !important;
                }


                &:checked~.checkmark {
                    &::after {
                        display: block;
                    }
                }
            }

            .checkmark {
                background: rgba(45, 45, 56, 0.1);
                border-radius: .6rem;

                border: none;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                height: 2rem;
                width: 2rem;
                opacity: 1;

                &:after {
                    left: 0;
                    content: "";
                    position: absolute;
                    display: none;
                    top: 0;
                    bottom: .3rem;
                    right: 0;
                    margin: auto;
                    width: .5rem;
                    height: .9rem;
                    border: solid white;
                    border-width: 0 .2rem .2rem 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.buyer {
    .search-select {
        display: none;
    }

    .buyer-header-arrow {
        margin-right: 2.4rem;

        svg {
            width: 3.2rem;
            height: 2.4rem;
        }
    }
}

.supplier {
    .buyer-header-arrow {
        margin-right: 2.4rem;

        svg {
            width: 3.2rem;
            height: 2.4rem;
        }
    }
}

@media (max-width: 767.9px) {
    .buyer-header-arrow {
        position: absolute;
        left: 5.4rem;
        top: 2rem;
    }

    .switch-toggle {
        display: none !important;
    }
}