.product-filter {
    background: #FFFFFF;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: .3rem;
    padding: 3.2rem 3.2rem 4.8rem;
    margin-bottom: 2.4rem;

    .filter-card {
        .title {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 125%;
            color: #363636;
            margin-bottom: 1.6rem;
            width: 80%;
        }
    }

    .filter-card-sub {
        margin-left: 2.4rem;

        a {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 100%;
            color: #363636;
            margin-bottom: 1.6rem;
        }
    }
}