.carousel {

    #main {
        width: 100%;
        height: 50rem;
        background-color: #ffff;
        border: .1rem solid rgba(0, 0, 0, 0.05);
        box-sizing: border-box;
        margin-bottom: 1.6rem;

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    #child {
        .swiper-slide {
            width: 11rem;
            height: 11rem;
            background-color: #fff;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover !important;
            }
        }
    }

    @media(max-width:767.9px) {
        #child {
            display: none;
        }

        #main {
            height: auto;
            width: 100vw;
            margin-left: -50vw;
            margin-right: -50vw !important;
            position: relative;
            left: 50%;
            right: 50%;

            .swiper-slide {
                position: relative;
                padding-top: 100%;

                img {
                    position: absolute;
                    top: 0;
                }
            }

            .swiper-pagination-bullet {
                width: .8rem;
                height: .8rem;
                background: rgba(255, 255, 255, 0.75);
                opacity: 1;
                border: .05rem solid rgba(54, 54, 54, 0.75);
            }

            .swiper-pagination-bullet-active {
                width: 1.2rem !important;
                height: 1.2rem !important;
            }

            .swiper-pagination {
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 1.6rem !important;
            }
        }
    }
}