.account {
    padding: 2.4rem 0 4.8rem;
    background-color: #F6F7FA;

    .tab-section {
        background: #FFFFFF;
        border-radius: .3rem;

        .react-tabs__tab-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 0;

            .react-tabs__tab {
                background: rgba(255, 208, 95, 0.06);
                height: 4.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 100%;
                color: rgba(45, 45, 56, 0.5);
                width: 100%;
                border: none;

                &:last-child {
                    border-left: .1rem solid #FFD05F;
                }

                &:first-child {
                    border-right: .1rem solid #FFD05F;
                }
            }

            .react-tabs__tab--selected {
                background: #FFD05F;
                border-radius: .3rem 0 0;
                color: #2D2D38;
                border: none;
            }
        }

        .react-tabs__tab-panel {
            padding: 7.2rem 12rem 5.6rem;

            .tab-content {
                .input-group {
                    margin-bottom: 3.2rem;

                    .input-child {
                        &:first-child {
                            margin-right: 14rem;
                        }
                    }
                }

                .tab-header-second {
                    .title {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 2.4rem;
                        line-height: 100%;
                        color: #2D2D38;
                        margin-bottom: 3.2rem;


                        span {
                            color: #E74445;
                        }
                    }
                }

                .tab-checkbox-content {
                    // height: 10rem;
                    display: flex;
                    flex-wrap: wrap;

                    .checkbox-parent {
                        width: 50%;
                        margin-bottom: 2.4rem !important;
                    }
                }

                .tab-main-products {
                    .input-child {
                        margin-right: 3.6rem !important;
                    }
                }

                .input-group {
                    display: flex;
                    flex-wrap: nowrap;
                }

                .input-group .selectbox {
                    opacity: 1;
                }

                label {
                    span {
                        color: #E74445;
                    }
                }
            }

        }
    }
}

.Select-menu-outer {
    z-index: 100 !important;
}

@media (max-width: 767.9px) {
    .account {
        background-color: #ffffff;

        .tab-section {
            .react-tabs__tab-panel {
                padding: 5.6rem 0;
            }
        }
    }
}