.hometop-contian {
    background-image: url(../../../assets/background.png);
    // height: 54.8rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: .4rem;
    padding: 2.6rem 0 3.2rem;
    // display: flex;
    // align-items: center;

    .swiper-class {
        overflow: hidden;
        height: 100%;

        div {
            height: 100%;
        }
    }
}