.addNewProduct {
    padding-bottom: 7.2rem;

    .add-product-container {
        background: #FFFFFF;
        border-radius: .3rem;
        padding: 2.4rem 0 5.6rem;

        .add-product-header {
            height: 12rem;
            border-radius: 1.2rem;
            background-image: url(../../../../assets/addProduct.png);
            background-position: right;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 0 3.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 4.8rem;

            h2 {
                text-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
                margin-bottom: 1.6rem;
            }
        }

        .input-group {
            margin-bottom: 3.2rem;

            .input-child {
                &:first-child {
                    margin-right: 14rem;
                }
            }

            input {
                border: .1rem solid rgba(45, 45, 56, 0.25);
                box-sizing: border-box;
                border-radius: .6rem;
                height: 4.8rem;
            }
        }

        .add-checkbox {
            label {
                margin-bottom: 0 !important;
            }
        }
    }

    .tox {
        height: 34rem !important;
    }

    .add-subtitle {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 100%;
        color: #222222;
        margin-bottom: 1.6rem;
    }

    @media (max-width: 767.9px) {
        padding-top: 0;

        .add-product-container {

            .add-product-header {
                padding: 0 2.4rem;
                background-position: center;
                height: 10rem;
                margin-bottom: 3.2rem;
            }

            .input-order-q {
                width: 50% !important;
            }
        }

        h6 {
            font-size: 2.2rem;
        }

        .checkbox-parent {
            height: 2.4rem;

            p {
                font-size: 1.6rem;
            }

            .checkmark {
                width: 2.4rem;
                height: 2.4rem;
                border: .2rem solid #222;
            }
        }

        .ant-upload.ant-upload-select-picture-card {
            height: 4.8rem !important;
            background: #FFFFFF;
            border: .1rem solid #D9D9D9;
            box-sizing: border-box;
            border-radius: .3rem;

            .upload-img-first {
                margin-bottom: 3.2rem;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                margin-top: 0 !important;

                span {
                    margin-right: .6rem;
                }
            }
        }
    }
}