.multyFilter {
    background: #FFFFFF;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: .3rem;
    padding: 3.2rem;

    .title {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 100%;
        color: #363636;
        margin-bottom: 1.6rem;
    }

    label {
        display: flex;
        align-items: center;
        margin-bottom: 3.2rem;

        input {
            background: #FFFFFF;
            border: .1rem solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: .6rem;
            height: 4.6rem;
            margin-right: 1.2rem;
            padding: 0 2.4rem;
            width: 100%;
        }

        button {
            background: #FFCB6D;
            box-shadow: 0 .4rem .6rem rgba(250, 198, 74, 0.12);
            border-radius: .6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4.6rem;
            min-width: 4.6rem;
            height: 4.6rem;
            border: none;
        }
    }


}

.checkbox-parent {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 1.6rem !important;
    height: 2rem !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;

    p {
        margin: 0;

        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 100%;
        color: #666666;
    }

    input {
        width: 100%;
        height: 2rem !important;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
        margin: 0;
        z-index: 2;

        &:checked~.checkmark {
            background-color: #222222 !important;
        }


        &:checked~.checkmark {
            &::after {
                display: block;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 2rem;
        width: 2rem;
        border: .1rem solid #222;
        border-radius: .3rem;
        opacity: 1;

        &:after {
            left: 0;
            content: "";
            position: absolute;
            display: none;
            top: 0;
            bottom: .3rem;
            right: 0;
            margin: auto;
            width: .5rem;
            height: .9rem;
            border: solid white;
            border-width: 0 .2rem .2rem 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}