.product-card {
    background: #FFFFFF;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: .6rem;
    padding: 1.6rem;
    margin-bottom: 1.6rem;

    .product-card-img {
        height: 18.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: .1rem solid rgba(34, 34, 34, 0.05);
        box-sizing: border-box;
        border-radius: .3rem;
        margin-bottom: 1.2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #363636;
        margin-bottom: 1.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 70%;
    }

    .product-detail {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .price {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 125%;
            color: #666666;
            margin-bottom: .8rem;

            span {
                color: #E74445;
                font-weight: bold;
            }
        }

        p {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 125%;
            color: #666666;
            margin-bottom: .8rem;
        }

        .description {
            display: none;
        }

        .company-name {
            margin-bottom: 0;
            text-decoration-line: underline;
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 150%;
            color: #666666;
        }

        button {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 100%;
            color: #363636;
            background: #FFD05F;
            border-radius: .3rem;
            width: 11.7rem;
            height: 3.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            border: none;
            cursor: pointer;
        }
    }

    .fav-card-position {
        position: relative;

        .heart {
            position: absolute;
            top: .8rem;
            right: .8rem;
        }
    }
}