.rfq-page {
    padding: 2.4rem 0 4.8rem;

    .rfq-content {
        padding: 5.6rem 0;
        background: #FFFFFF;
        border-radius: .2rem;
        margin-top: 2.4rem;

        .rfq-content-child {
            h6 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 2.4rem;
                line-height: 100%;
                color: #2D2D38;
                margin-bottom: 1.6rem;
            }

            p {
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 100%;
                color: #666666;
                margin-bottom: 3.2rem;
            }

            .rfq-progress-bar {
                background: #ECF4FF;
                border-radius: .3rem;
                height: 20.8rem;
            }
        }

        // .input-datepicker {
        //     div {
        //         input {
        //             width: 22rem;
        //         }
        //     }
        // }
    }
}