.terms {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;

    .terms-content {

        .title {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: bold;
            font-size: 2.4rem;
            line-height: 100%;
            letter-spacing: 0.02em;
            color: #262626;
            margin-top: 5.6rem;
            margin-bottom: 2.4rem;
        }

        p {
            font-family: "Mark Pro";
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: #464646;
            margin-bottom: 2.4rem;
        }
    }
}