.topfilter {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2.4rem;

    .top-filter-child {
        overflow: auto;
        display: flex;
        align-items: center;

        &::-webkit-scrollbar {
            height: 0;
        }

        .filter-checkbox {
            position: relative;
            margin-right: 1.2rem;

            input {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                cursor: pointer;

                &:checked~.checkmark {
                    background: #FFFFFF;
                    border: .1rem solid #363636;
                }
            }

            .checkmark {
                background-color: transparent;
                width: auto;
                height: 3.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 2.4rem;
                border: .1rem solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 2.4rem;
                font-family: "Mark Pro";
                font-style: normal;
                font-weight: normal;
                font-size: 1.2rem;
                line-height: 100%;
                color: #444444;
                white-space: nowrap;
            }
        }
    }
}