.recommendCard {
    background: #FFFFFF;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: .6rem;
    padding: .8rem;

    .recommendCard-img {
        border-radius: .3rem;
        height: 19.2rem;
        margin-bottom: 1.6rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .recommend-inner {
        padding: .8rem;

        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom: 1.6rem;
        }

        .recommend-price {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            color: #666666;
            font-size: 1.6rem;
            line-height: 125%;
            margin-bottom: .8rem;

            span {
                color: #E74445;
                font-weight: bold;

            }
        }
    }
}