.breadCrumb {
    display: flex;
    align-items: center;

    a {

        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 100%;
        color: #C4C4C4;
        position: relative;
        margin-right: 2rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: -1.2rem;
            background: #C4C4C4;
            width: .4rem;
            height: .4rem;
            border-radius: 50%;
        }

        &:last-child {
            color: #666;

            &::after {
                display: none;
            }
        }
    }
}