.contact {
    padding: 5.6rem 0;

    h5.title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 3.2rem;
        line-height: 100%;
        color: #2D2D38;
        margin-bottom: 2.4rem;
    }

    p {
        font-family: "Mark Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #696969;
    }

    // .contact-head {
    //     width: 80%;
    // }

    a.title {
        font-family: "Mark Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #464646;
        margin-bottom: 2.4rem;
    }

    .contact-bottom {
        margin-bottom: 7.2rem;

        .div-a {
            a {
                font-family: 'Mark Pro';
                font-style: normal;
                font-weight: 500;
                font-size: 2rem;
                line-height: 100%;
                color: #0062FF;
            }
        }
    }
}

@media (max-width: 767.9px) {
    .contact {
        padding: 3.2rem 0 5.6rem;

        h5.title {
            font-size: 2rem;
            margin-top: 4.8rem;
            margin-bottom: 1.6rem;
        }

        .contact-bottom {
            margin-top: 2.4rem;
            margin-bottom: 4.8rem;
        }
    }
}