.category-card-home {
    a {
        background: #FFFFFF;
        border: .1rem solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: .3rem;
        padding: .8rem .8rem 1.6rem;

        img {
            height: 19.2rem;
            width: 100%;
            margin-bottom: 1.6rem;
        }

        h5 {
            padding-left: .8rem;
        }
    }

    @media(max-width: 767.9px) {}
}