.priduct-page {
    .product-detail-content {
        background: #FFFFFF;
        border-radius: .2rem;
        padding: 3.2rem 0;

        .line {
            height: .2rem;
            width: 100%;
            background: #F9F9F9;
        }

        .product-detail-inner {
            padding: 0 3.2rem;

            h4 {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 2rem;
                line-height: 150%;
                color: #2D2D38;
                margin-bottom: 3.2rem;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2.4rem;

                p,
                span {
                    width: 50%;
                    margin-bottom: 0;
                }

                p {
                    font-family: Mark Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.4rem;
                    line-height: 100%;
                    color: #666666;
                }

                span {
                    font-family: Mark Pro;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 100%;
                    color: #2D2D38;
                }
            }
        }

        .product-detail-full {
            background: rgba(255, 203, 109, 0.25);
            padding: 1.6rem 3.2rem;
            display: flex;
            align-items: center;

            div {
                width: 35%;
            }

            h5 {
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 100%;
                color: #666666;
                margin-bottom: 1.2rem;
            }

            p {
                margin-bottom: 0;
                font-family: Mark Pro;
                font-style: normal;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 100%;
                color: #2D2D38;

                span {
                    font-weight: bold;
                    color: #E74445;
                }
            }
        }

        .detail-button-contact {
            height: 4.8rem;
            border-radius: .6rem;
            font-size: 1.6rem;
            margin-top: 4.8rem;
        }

    }

    @media(max-width: 767.9px) {
        .product-detail-content {
            width: 100vw;
            margin-left: -50vw;
            margin-right: -50vw !important;
            position: relative;
            left: 50%;
            right: 50%;
            padding: 1.2rem 0;

            .product-detail-inner {
                padding: 0 1.6rem;

                h4 {
                    font-size: 1.6rem;
                    margin-bottom: 1.6rem;
                }
            }

            .product-detail-full {
                div {
                    width: 50%;
                }
            }

            .detail-button-contact {
                position: sticky;
                bottom: 1.6rem;
            }

        }

        .detail-content-parent {
            margin-top: 2.4rem;
            width: 100vw;
            margin-left: -50vw;
            margin-right: -50vw;
            position: relative;
            left: 50%;
            right: 50%;
            padding: 3.2rem 1.6rem;

            .detail-content-child {
                span {
                    min-height: 6.4rem;
                }
            }
        }

        .recommend-page {
            width: 100vw;
            margin-left: -50vw;
            margin-right: -50vw;
            position: relative;
            left: 50%;
            right: 50%;

            h5 {
                font-size: 2rem;
                margin-bottom: 1.6rem;
            }
        }
    }
}