#aboutCompany {
    height: 24rem;
    margin-bottom: 4.8rem;
    margin-top: 2.4rem;
    margin-right: -5.6rem;

    a {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}