.products-page {
    padding: 2.4rem 0 4.8rem;

    .breadCrumb {
        margin-bottom: 2.4rem;
    }

    .grid-row {
        .product-card {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;

            .product-card-img {
                width: 33rem;
                height: 16.8rem;
                margin-right: 2rem;
                margin-bottom: 0;
            }

            .title {
                width: 60%;
            }

            .product-detail {

                button,
                a {
                    width: 16.5rem;
                }


                .description {
                    display: block !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    width: 80%;
                }

                .price {
                    font-weight: bold;
                }

                .company-name {
                    position: absolute;
                    right: 3.2rem;
                    top: 1.6rem;
                    width: fit-content;
                }

                .order-detail {
                    margin-bottom: 1.6rem;

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}