.about-company {
    padding: 2.4rem 0;
    background: #F6F7FA;

    .about-company-content {
        background: #FFFFFF;
        border-radius: .2rem;
        padding-bottom: 3.2rem;
        margin-bottom: 2.4rem;

        .about-company-header {
            margin-bottom: 3.2rem;

            img {
                height: 20rem;
                width: 100%;
                object-fit: cover;
            }

            .about-compant-header-content {
                padding: 0 3.2rem 0 5.6rem;
                display: flex;
                align-items: center;
                margin-top: -1.6rem;

                .img-container {
                    width: 12.4rem;
                    height: 12.4rem;
                    min-width: 12.4rem;
                    min-height: 12.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: .1rem solid rgba(0, 0, 0, 0.1);
                    box-sizing: border-box;
                    border-radius: .3rem;
                    margin-right: 2.4rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .about-company-header-child {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .title-parent {
                        .title {
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 2rem;
                            line-height: 100%;
                            letter-spacing: 0.02em;
                            color: #363636;
                        }


                        a {
                            display: flex;
                            align-items: center;
                            font-family: Mark Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 1.4rem;
                            line-height: 100%;
                            color: #A5B6D0;
                            margin-top: 1.6rem;

                            svg {
                                margin-right: .8rem;

                            }
                        }
                    }
                }

            }
        }

        .about-company-header-middle {
            padding: 0 3.2rem 0 5.6rem;

            #about {
                height: 24rem;
                margin-bottom: 4.8rem;
                margin-top: 2.4rem;
                margin-right: -3.2rem;

                a {
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .about-company-video {
                .title {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 2rem;
                    line-height: 100%;
                    color: #363636;
                    margin-bottom: 2.4rem;
                }

                .about-company-video-child {
                    display: flex;
                    align-items: center;

                    img,
                    iframe,
                    a,
                    video {
                        width: 100%;
                        height: 26rem;

                        &:first-child {
                            margin-right: 2rem;
                        }
                    }
                }
            }

        }

    }

    .social-icons-container {
        display: flex;
        align-items: center;
        margin-bottom: 5.6rem;

        a {
            display: flex;
            align-items: center;
            font-family: Mark Pro;
            font-style: normal;
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 100%;
            color: #000000;
            margin-right: 4rem;

            svg {
                margin-right: 1.2rem;
                width: 2rem;
                height: 2rem;

                path {
                    fill: #2D2D38;
                }
            }

            &:last-child {
                svg {
                    path {
                        stroke: #2D2D38;
                        fill: transparent;
                    }
                }
            }
        }
    }
}