.priduct-page {
    padding: 2.4rem 0;
    background-color: #F6F7FA;

    .breadCrumb {
        margin-bottom: 2.4rem;
    }

    .detail-content-parent {
        background: #FFFFFF;
        border-radius: .2rem;
        padding: 3.2rem 5.6rem;
        margin-top: 5.6rem;

        h5.title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 2rem;
            line-height: 100%;
            color: #2D2D38;
            margin-bottom: 2.4rem;
        }

        p {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 150%;
            color: #666666;
        }
    }
}