.homeRequest {
    margin-bottom: 7.2rem;

    h5 {
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2D2D38;
        margin-bottom: 3.2rem;
    }

    .homeRequest-contain {
        border-radius: .6rem;
        height: 43.2rem;
        background-image: url(../../../assets/requestback.png);
        background-repeat: no-repeat;
        background-size: cover;

        .homeRequest-inner {
            padding: 2.4rem;

            .homeRequest-child {
                background: #FFFFFF;
                border-radius: .6rem;
                padding: 3.6rem 2.4rem;
            }
        }
    }

    @media (max-width:792.9px) {
        .homeRequest-contain {
            height: 51rem !important;

            input {
                margin-bottom: 2.4rem;
            }

            .header-post-request {
                width: 100%;
                padding: 0;
            }
        }
    }
}