.company-info {
    padding: 2.4rem 0 4.8rem;
    background-color: #F6F7FA;

    .company-info-progress-bar {
        background: #F6F9FF;
        border-radius: .6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem;
        margin-bottom: 2.4rem;

        .progress-bar-parent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-right: 3.2rem;
            position: relative;
            height: 4.6rem;

            .progressbar-percent {
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 100%;
                color: rgba(45, 45, 56, 0.5);
                display: flex;
                align-items: center;

                span {
                    color: #2D2D38;
                    display: block;
                    margin-right: .4rem;
                    font-weight: 500;
                }
            }
        }

        .progress-bar {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #0062FF;
            height: .4rem;
            width: 15%;
        }

        .progress-bar-status {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 100%;
            color: #E74445;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1.6rem;
            background: rgba(231, 68, 69, 0.25);
            border-radius: .3rem;
            margin-left: 3.2rem;
        }
    }

    .company-info-content {
        background: #FFFFFF;
        box-shadow: 0 0 2.4rem rgba(38, 38, 38, 0.06);
        border-radius: .6rem;

        .react-tabs__tab-panel {
            padding: 5.6rem 11rem;
        }

        .react-tabs__tab-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 0;

            .react-tabs__tab {
                background: rgba(255, 208, 95, 0.06);
                height: 4.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 100%;
                color: rgba(45, 45, 56, 0.5);
                width: 100%;
                border: none;

            }

            .react-tabs__tab--selected {
                background: #FFD05F;
                border-radius: .3rem 0 0;
                color: #2D2D38;
                border: none;
            }

        }

        .tab-checkbox-content {
            // height: 10rem;
            display: flex;
            flex-wrap: wrap;

            .checkbox-parent {
                width: 50%;
                margin-bottom: 2.4rem !important;
                padding-left: 4rem;
                height: 2.4rem !important;

                .checkmark {
                    width: 2.4rem;
                    height: 2.4rem;
                    border: .25rem solid #2D2D38;

                    &::after {
                        height: 1.1rem;
                    }
                }

                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    line-height: 100%;
                }
            }

            input {
                height: 4.8rem;
            }
        }

        .input-group {
            width: 100%;
            margin-bottom: 3.2rem;
            display: flex;
            flex-wrap: nowrap;
        }

        .company-section {
            margin-top: 4rem !important;
            margin-bottom: 7.2rem;
        }

        h2.title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 2.4rem;
            line-height: 100%;
            color: #2D2D38;
            margin-bottom: 3.2rem;

            span {
                color: #E74445;
            }
        }
    }

    .comp-info-tab-2 {
        .input-group .input-child:first-child {
            margin-right: 12rem;
        }


    }

    .tab-content-question {
        width: 100%;

        .checkbox-parent {
            margin-bottom: 0 !important;
        }
    }
}

.tab-checkbox-content-2 {
    margin-bottom: 4.8rem;

    .checkbox-parent {
        width: 35% !important;
    }
}

.verify-account-content {
    padding: 5.6rem 11rem;
}

.my-select__menu {
    z-index: 999999 !important;
}

@media (max-width: 767.9px) {
    .company-info {
        .company-info-content {
            .company-section {
                margin-top: 0 !important;
            }
        }

        .resp-question {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 !important;


            span {
                font-style: normal;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 150%;
                color: #2D2D38;
                margin-bottom: 2.4rem;
                display: block;
            }
        }

        .tab-content-question {
            .main-dist-child {
                input {
                    width: 100%;
                }
            }

            .tab-checkbox-content {
                flex-direction: row;

                .checkbox-parent {
                    width: 50% !important;
                }
            }

            .tab-checkbox-content-2 {
                margin-bottom: 2.4rem !important;
            }
        }


    }

    .company-info-content .input-group {
        width: 100% !important;
    }

    .company-info-content .resp-mt-0 {
        margin-top: 0 !important;
    }
}