.about-company-details {
    background: #FFFFFF;
    border-radius: .2rem;
    padding-bottom: 3.2rem;
    margin-bottom: 2.4rem;
    padding: 3.2rem 5.6rem;

    .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #363636;
        margin-bottom: 2.4rem;
    }

    @media(max-width: 767.9px) {
        padding: 0;

    }
}