.categoryHomeTop {
    background: #FFFFFF;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: .3rem;
    padding: 2.4rem 3.6rem 4.8rem;

    .title {
        margin-bottom: 1.6rem;

        img {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: .8rem;
        }

    }

    ul {
        width: 80%;

        li {
            margin-bottom: 1.6rem;

            a {
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 125%;
                color: #666666;
                transition: .4s;

                &:hover {
                    text-decoration-line: underline;
                }
            }
        }
    }
}