.header-middle {
    .logo {
        width: 75%;
        height: 4.9rem;

        img {
            width: 100%;
            height: 100%;
        }
    }



    .account-button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 100%;
        color: #2D2D38;
        padding: 0;

        img {
            width: 3.4rem;
            height: 3.4rem;
            margin-right: .8rem;
        }

        .close-button {
            display: none;
        }
    }
}

.mobile-account-menu-parent {
    display: none;
}

@media(max-width:767.9px) {
    .mobile-account-menu-parent {
        &.active {
            display: block;
        }
    }

    .header-middle {
        position: relative;
        padding: 2.4rem 0 0;

        .header-post-request {
            display: none !important;
        }

        .mobile-position-account {
            position: absolute;
            right: 0;
            top: 1.6rem;
            height: fit-content;
            justify-content: flex-end;
            padding: 0 !important;

            .header-class-a {
                &:first-child {
                    display: none;
                }

                &.mes-class {
                    display: block !important;

                    span {
                        display: none !important;
                    }
                }

                &.active {
                    position: relative;

                    span {
                        display: block;
                        background: #E74445;
                        width: 1.6rem;
                        height: 1.6rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        bottom: -.6rem;
                        left: -1rem;
                        color: #fff;
                        font-style: normal;
                        font-family: "Montserrat";
                    }
                }
            }

            .account-button {
                span {
                    display: none;
                }

                img {
                    width: 3.2rem !important;
                    height: 3.2rem !important;
                    margin-right: 0 !important;
                }

                .account-button {
                    display: block;
                }

                &.active {
                    img {
                        display: none;
                    }

                    .close-button {
                        display: block;
                    }
                }
            }
        }

        .row.py-12 {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .logo {
            width: 100% !important;
            height: 2.2rem !important;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2.4rem;

            img {
                width: 100% !important;
                width: 10.4rem !important;
            }
        }
    }
}