.input-group-header {
    width: 100%;
    background: #F9F9F9;
    border: .1rem solid rgba(45, 45, 56, 0.1);
    box-sizing: border-box;
    border-radius: .4rem;
    overflow: hidden;
    padding: .4rem 0;
    height: 3.8rem;

    input {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 100%;
        color: #666666;
        border: none;
        border-radius: .3rem;
        width: 100%;
        background-color: transparent;
        padding: 0 2.4rem;
        height: 100%;
    }

    .search-select {
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 100%;
        color: rgba(45, 45, 56, 0.25);
        width: 9.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: .1rem solid rgba(45, 45, 56, 0.1);
        height: 100%;
        cursor: pointer;

        svg {
            margin-left: .4rem;
        }
    }

    button {
        background: #363636;
        border-radius: 0 .3rem .3rem 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.6rem;
        height: 3.8rem;
        min-width: 4.6rem;
        border: none;
        padding: 0;

        img {
            width: 1.4rem;
            height: 1.4rem;
        }
    }
}

@media(max-width: 767.9px) {
    .input-group-header {
        .search-select {
            min-width: 10.4rem !important;
            width: 10.4rem !important;
        }

        input {
            padding: 0 1.6rem;
        }
    }
}