.header-bottom {
    background: #FFCB6D;
    height: 3.8rem;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mobile-menu,
        .mobile-menu-button {
            display: none;
        }

        a,
        button {
            font-style: normal;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 100%;
            color: #363636;
            display: flex;
            align-items: center;

            svg {
                margin-left: .8rem;
            }
        }

        .menu-header {
            cursor: pointer;

        }

        .menu-ul-child {
            position: absolute;
            left: 0;
            top: 2rem;
            background: #FFFFFF;
            box-shadow: 0px 0px 12px rgba(54, 54, 54, 0.12);
            border-radius: 0px 0px 3px 3px;
            padding: 3.2rem;
            z-index: 10;

            li {
                margin-bottom: 3.2rem;

                a {
                    font-family: Mark Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.6rem;
                    line-height: 100%;
                    color: #2D2D38;
                    white-space: nowrap;
                }
            }
        }

        .menu-ul {
            position: relative;

            svg {
                margin-left: .5rem;
            }
        }
    }

}

@media(max-width: 767.9px) {
    .header-bottom {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        z-index: 33;
        background-color: #fff;
        top: 6.8rem;
        display: none;

        ul {
            display: none;
        }

        .container {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .mobile-menu-button {
            display: block !important;
        }

        .mobile-menu {
            width: 100%;
            display: block !important;

            ul,
            .categoryHomeTop {
                display: block !important;
                width: 100%;
            }

            .categoryHomeTop {
                padding: .8rem 0;
                border: none;
                width: 100%;

                .title {
                    font-size: 1.6rem;
                    margin-bottom: 2.4rem;
                }

                ul {
                    li {
                        a {
                            font-size: 1.8rem;
                            color: #666666;
                        }

                        padding-bottom: 1.6rem;
                        margin-bottom: 1.6rem;
                        border-bottom: .1rem solid rgba(102, 102, 102, 0.12);

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        &.active {
            display: block;
        }
    }

    .mobile-button-head {
        display: block;
        position: absolute;
        top: 1.8rem;
        left: 1.6rem;
        background-color: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
    }
}