.contact-suppliers {
    background: #FFFFFF;
    border-radius: .2rem;
    padding: 3.2rem;
    margin-bottom: 2.4rem;

    .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 100%;
        color: #363636;
        margin-bottom: 2.4rem;
    }

    .contact-about {
        display: flex;
        align-items: center;
        margin-bottom: 2.4rem;

        img {
            width: 7.2rem;
            height: 7.2rem;
            border-radius: .3rem;
            margin-right: 2rem;
        }

        .subtitle {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 100%;
            color: #363636;
            display: flex;
            flex-direction: column;

            span {
                font-weight: normal;
                font-size: 1.4rem;
                color: #25D366;
                display: block;
                margin-top: .8rem;
                position: relative;
                padding-left: 1rem;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: .6rem;
                    height: .6rem;
                    background-color: #25D366;
                    border-radius: 50%;
                }
            }
        }
    }
}

.login {
    .contact-about {
        .subtitle {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 100%;
            color: #363636;

            span {
                font-family: Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 100%;
                text-decoration-line: underline;
                color: #E74445;
                padding-left: 0;

                &::after {
                    display: none;
                }
            }
        }
    }

    .contact-bottom {

        .contact-about-child {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 100%;
            display: flex;
            align-items: center;
            color: #363636;
            margin-bottom: 1.2rem;

            img,
            svg {
                margin-bottom: 0;
                margin-right: 1.2rem;
            }
        }
    }
}