#main {
    height: 100%;

    .swiper-button-prev,
    .swiper-button-next {
        background: #FFFFFF25;
        border-radius: .2rem;
        width: 3.6rem;
        height: 3.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        &::after {
            content: url(../../../../assets/arrow.svg);
            width: .6rem;
            height: 1.2rem;
            font-size: inherit;
            padding-right: .6rem;
        }
    }

    .swiper-button-next {
        &::after {
            transform: rotate(180deg);
        }
    }

    a {
        height: 100%;
        border-radius: .3rem;
        overflow: hidden;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;

    }
}