.dashboard-buyer {
    .sub-status {
        display: none;
    }

    .dashboard-new-product {
        display: none;
    }

    .rating-section {
        display: none;
    }

    .dashboard-info-card {
        height: 96%;
    }
}