html {
    font-size: 10px
}

.m-auto {
    margin: auto
}

.m-0-auto {
    margin: 0 auto
}

.m-0 {
    margin: 0 !important;
}

.p-auto {
    padding: auto
}

.p-0-auto {
    padding: 0 auto
}

.p-0 {
    padding: 0;
}

.h-auto {
    padding: auto
}

.w-auto {
    padding: auto
}

.w-100_ {
    width: 100%
}

.w-90_ {
    width: 90%
}

.w-95_ {
    width: 95%
}


.w-50_ {
    width: 50%
}

.w-45_ {
    width: 45% !important
}

.w-40_ {
    width: 40% !important;
}

.w-55_ {
    width: 55%
}

.w-60_ {
    width: 60%
}

.w-65_ {
    width: 65%
}

.w-70_ {
    width: 70%
}

.w-100vw {
    width: 100vw
}

.w-2 {
    width: .2rem
}

.w-3 {
    width: .3rem
}

.w-4 {
    width: .4rem
}

.w-5 {
    width: .5rem
}

.w-6 {
    width: .6rem
}

.w-7 {
    width: .7rem
}

.w-8 {
    width: .8rem
}

.w-9 {
    width: .9rem
}

.w-10 {
    width: 1rem
}

.w-11 {
    width: 1.1rem
}

.w-12 {
    width: 1.2rem
}

.w-13 {
    width: 1.3rem
}

.w-14 {
    width: 1.4rem
}

.w-15 {
    width: 1.5rem
}

.w-16 {
    width: 1.6rem
}

.w-17 {
    width: 1.7rem
}

.w-18 {
    width: 1.8rem
}

.w-19 {
    width: 1.9rem
}

.w-20 {
    width: 2rem
}

.w-21 {
    width: 2.1rem
}

.w-22 {
    width: 2.2rem
}

.w-23 {
    width: 2.3rem
}

.w-24 {
    width: 2.4rem
}

.w-25 {
    width: 2.5rem
}

.w-26 {
    width: 2.6rem
}

.w-32 {
    width: 3.2rem
}

.w-36 {
    width: 3.6rem
}

.w-38 {
    width: 3.8rem
}

.w-40 {
    width: 4rem
}

.w-42 {
    width: 3.1rem
}

.w-48 {
    width: 4.8rem
}

.w-50 {
    width: 5rem
}

.w-52 {
    width: 5.2rem
}

.w-54 {
    width: 5.4rem
}

.w-56 {
    width: 5.6rem
}

.w-60 {
    width: 6rem
}

.w-70 {
    width: 7rem
}

.w-80 {
    width: 8rem
}

.w-90 {
    width: 9rem
}

.w-100 {
    width: 10rem
}

.w-120 {
    width: 12rem
}

.w-130 {
    width: 13rem
}

.w-140 {
    width: 14rem
}

.w-150 {
    width: 15rem
}

.w-160 {
    width: 16rem
}

.w-170 {
    width: 17rem
}

.w-180 {
    width: 18rem
}

.w-190 {
    width: 19rem
}

.w-200 {
    width: 20rem
}

.w-220 {
    width: 22rem
}

.w-340 {
    width: 34rem
}

.h-100_ {
    height: 100%
}

.h-webkit {
    height: -webkit-fill-available;
}

.w-fit {
    width: fit-content;
}

.h-100vh {
    height: 100vh
}

.h-2 {
    height: .2rem
}

.h-3 {
    height: .3rem
}

.h-4 {
    height: .4rem
}

.h-5 {
    height: .5rem
}

.h-6 {
    height: .6rem
}

.h-7 {
    height: .7rem
}

.h-8 {
    height: .8rem
}

.h-9 {
    height: .9rem
}

.h-10 {
    height: 1rem
}

.h-11 {
    height: 1.1rem
}

.h-12 {
    height: 1.2rem
}

.h-13 {
    height: 1.3rem
}

.h-14 {
    height: 1.4rem
}

.h-15 {
    height: 1.5rem
}

.h-16 {
    height: 1.6rem
}

.h-17 {
    height: 1.7rem
}

.h-18 {
    height: 1.8rem
}

.h-19 {
    height: 1.9rem
}

.h-20 {
    height: 2rem
}

.h-21 {
    height: 2.1rem
}

.h-22 {
    height: 2.2rem
}

.h-23 {
    height: 23rem
}

.h-24 {
    height: 2.4rem
}

.h-25 {
    height: 2.5rem
}

.h-26 {
    height: 2.6rem
}

.h-32 {
    height: 3.2rem
}

.h-36 {
    height: 3.6rem
}

.h-38 {
    height: 3.8rem
}

.h-40 {
    height: 4rem
}

.h-42 {
    height: 4.2rem
}

.h-48 {
    height: 4.8rem
}

.h-50 {
    height: 5rem
}

.h-52 {
    height: 5.2rem
}

.h-56 {
    height: 5.6rem
}

.h-60 {
    height: 6rem
}

.h-70 {
    height: 7rem
}

.h-72 {
    height: 7.2rem
}

.h-80 {
    height: 8rem
}

.h-90 {
    height: 9rem
}

.h-100 {
    height: 10rem
}

.h-120 {
    height: 12rem
}

.h-130 {
    height: 13rem
}

.h-140 {
    height: 14rem
}

.h-150 {
    height: 15rem
}

.h-160 {
    height: 16rem
}

.h-170 {
    height: 17rem
}

.h-175 {
    height: 17.5rem
}

.h-180 {
    height: 18rem
}

.h-190 {
    height: 19rem
}

.h-200 {
    height: 20rem
}

.h-590 {
    height: 59rem !important
}

.m-100_ {
    margin: 100%
}

.m-100w {
    margin: 100vw
}

.m-2 {
    margin: .2rem
}

.m-3 {
    margin: .3rem
}

.m-4 {
    margin: .4rem
}

.m-5 {
    margin: .5rem
}

.m-6 {
    margin: .6rem
}

.m-7 {
    margin: .7rem
}

.m-8 {
    margin: .8rem
}

.m-9 {
    margin: .9rem
}

.m-10 {
    margin: 1rem
}

.m-11 {
    margin: 1.1rem
}

.m-12 {
    margin: 1.2rem
}

.m-13 {
    margin: 1.3rem
}

.m-14 {
    margin: 1.4rem
}

.m-15 {
    margin: 1.5rem
}

.m-16 {
    margin: 1.6rem
}

.m-17 {
    margin: 1.7rem
}

.m-18 {
    margin: 1.8rem
}

.m-19 {
    margin: 1.9rem
}

.m-20 {
    margin: 2rem
}

.m-21 {
    margin: 2.1rem
}

.m-22 {
    margin: 2.2rem
}

.m-23 {
    margin: 23rem
}

.m-24 {
    margin: 2.4rem
}

.m-25 {
    margin: 2.5rem
}

.m-26 {
    margin: 2.6rem
}

.m-32 {
    margin: 3.2rem
}

.m-36 {
    margin: 3.6rem
}

.m-38 {
    margin: 3.8rem
}

.m-40 {
    margin: 4rem
}

.m-42 {
    margin: 3.1rem
}

.m-48 {
    margin: 4.8rem
}

.m-50 {
    margin: 5rem
}

.m-52 {
    margin: 5.2rem
}

.m-56 {
    margin: 5.6rem
}

.m-60 {
    margin: 6rem
}

.m-70 {
    margin: 7rem
}

.m-80 {
    margin: 8rem
}

.m-90 {
    margin: 9rem
}

.m-100 {
    margin: 10rem
}

.m-120 {
    margin: 12rem
}

.m-130 {
    margin: 13rem
}

.m-140 {
    margin: 14rem
}

.m-150 {
    margin: 15rem
}

.m-160 {
    margin: 16rem
}

.m-170 {
    margin: 17rem
}

.m-180 {
    margin: 18rem
}

.m-190 {
    margin: 19rem
}

.m-200 {
    margin: 20rem
}

.my-6 {
    margin-top: .6rem;
    margin-bottom: .6rem
}

.my-7 {
    margin-top: .7rem;
    margin-bottom: .7rem
}

.my-8 {
    margin-top: .8rem;
    margin-bottom: .8rem
}

.my-9 {
    margin-top: .9rem;
    margin-bottom: .9rem
}

.my-10 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.my-11 {
    margin-top: 1.1rem;
    margin-bottom: 1.1rem
}

.my-12 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem
}

.my-13 {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem
}

.my-14 {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem
}

.my-15 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.my-16 {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem
}

.my-17 {
    margin-top: 1.7rem;
    margin-bottom: 1.7rem
}

.my-18 {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem
}

.my-19 {
    margin-top: 1.9rem;
    margin-bottom: 1.9rem
}

.my-20 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.my-21 {
    margin-top: 2.1rem;
    margin-bottom: 2.1rem
}

.my-22 {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem
}

.my-23 {
    margin-top: 2.3rem;
    margin-bottom: 2.3rem
}

.my-24 {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem
}

.my-25 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.my-26 {
    margin-top: 2.6rem;
    margin-bottom: 2.6rem
}

.my-32 {
    margin-top: 3.2rem;
    margin-bottom: 3.1rem
}

.my-36 {
    margin-top: 3.6rem;
    margin-bottom: 3.6rem
}

.my-38 {
    margin-top: 3.8rem;
    margin-bottom: 3.8rem
}

.my-40 {
    margin-top: 4rem;
    margin-bottom: 4rem
}

.my-42 {
    margin-top: 4.2rem;
    margin-bottom: 3.2rem
}

.my-48 {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem
}

.my-50 {
    margin-top: 5rem;
    margin-bottom: 5rem
}

.mx-6 {
    margin-right: .6rem;
    margin-left: .6rem
}

.mx-7 {
    margin-right: .7rem;
    margin-left: .7rem
}

.mx-8 {
    margin-right: .8rem;
    margin-left: .8rem
}

.mx-9 {
    margin-right: .9rem;
    margin-left: .9rem
}

.mx-10 {
    margin-right: 1rem;
    margin-left: 1rem
}

.mx-11 {
    margin-right: 1.1rem;
    margin-left: 1.1rem
}

.mx-12 {
    margin-right: 1.2rem;
    margin-left: 1.2rem
}

.mx-13 {
    margin-right: 1.3rem;
    margin-left: 1.3rem
}

.mx-14 {
    margin-right: 1.4rem;
    margin-left: 1.4rem
}

.mx-15 {
    margin-right: 1.5rem;
    margin-left: 1.5rem
}

.mx-16 {
    margin-right: 1.6rem;
    margin-left: 1.6rem
}

.mx-17 {
    margin-right: 1.7rem;
    margin-left: 1.7rem
}

.mx-18 {
    margin-right: 1.8rem;
    margin-left: 1.8rem
}

.mx-19 {
    margin-right: 1.9rem;
    margin-left: 1.9rem
}

.mx-20 {
    margin-right: 2rem;
    margin-left: 2rem
}

.mx-21 {
    margin-right: 2.1rem;
    margin-left: 2.1rem
}

.mx-22 {
    margin-right: 2.2rem;
    margin-left: 2.2rem
}

.mx-23 {
    margin-right: 2.3rem;
    margin-left: 2.3rem
}

.mx-24 {
    margin-right: 2.4rem;
    margin-left: 2.4rem
}

.mx-25 {
    margin-right: 2.5rem;
    margin-left: 2.5rem
}

.mx-26 {
    margin-right: 2.6rem;
    margin-left: 2.6rem
}

.mx-32 {
    margin-right: 3.2rem;
    margin-left: 3.2rem
}

.mx-36 {
    margin-right: 3.6rem;
    margin-left: 3.6rem
}

.mx-38 {
    margin-right: 3.8rem;
    margin-left: 3.8rem
}

.mx-40 {
    margin-right: 4rem;
    margin-left: 4rem
}

.mx-42 {
    margin-right: 4.2rem;
    margin-left: 3.2rem
}

.mx-48 {
    margin-right: 4.8rem;
    margin-left: 4.8rem
}

.mx-50 {
    margin-right: 5rem;
    margin-left: 5rem
}

.ml-100_ {
    margin-left: 100%
}

.ml-100w {
    margin-left: 100vw
}

.ml-2 {
    margin-left: .2rem
}

.ml-3 {
    margin-left: .3rem
}

.ml-4 {
    margin-left: .4rem
}

.ml-5 {
    margin-left: .5rem
}

.ml-6 {
    margin-left: .6rem
}

.ml-7 {
    margin-left: .7rem
}

.ml-8 {
    margin-left: .8rem
}

.ml-9 {
    margin-left: .9rem
}

.ml-10 {
    margin-left: 1rem
}

.ml-11 {
    margin-left: 1.1rem
}

.ml-12 {
    margin-left: 1.2rem
}

.ml-13 {
    margin-left: 1.3rem
}

.ml-14 {
    margin-left: 1.4rem
}

.ml-15 {
    margin-left: 1.5rem
}

.ml-16 {
    margin-left: 1.6rem
}

.ml-17 {
    margin-left: 1.7rem
}

.ml-18 {
    margin-left: 1.8rem
}

.ml-19 {
    margin-left: 1.9rem
}

.ml-20 {
    margin-left: 2rem
}

.ml-21 {
    margin-left: 2.1rem
}

.ml-22 {
    margin-left: 2.2rem
}

.ml-23 {
    margin-left: 23rem
}

.ml-24 {
    margin-left: 2.4rem
}

.ml-25 {
    margin-left: 2.5rem
}

.ml-26 {
    margin-left: 2.6rem
}

.ml-32 {
    margin-left: 3.2rem
}

.ml-36 {
    margin-left: 3.6rem
}

.ml-38 {
    margin-left: 3.8rem
}

.ml-40 {
    margin-left: 4rem
}

.ml-42 {
    margin-left: 3.1rem
}

.ml-48 {
    margin-left: 4.8rem
}

.ml-50 {
    margin-left: 5rem
}

.ml-52 {
    margin-left: 5.2rem
}

.ml-56 {
    margin-left: 5.6rem
}

.ml-60 {
    margin-left: 6rem
}

.ml-70 {
    margin-left: 7rem
}

.ml-72 {
    margin-left: 7.2rem
}

.ml-80 {
    margin-left: 8rem
}

.ml-90 {
    margin-left: 9rem
}

.ml-100 {
    margin-left: 10rem
}

.ml-120 {
    margin-left: 12rem
}

.ml-130 {
    margin-left: 13rem
}

.ml-140 {
    margin-left: 14rem
}

.ml-150 {
    margin-left: 15rem
}

.ml-160 {
    margin-left: 16rem
}

.ml-170 {
    margin-left: 17rem
}

.ml-180 {
    margin-left: 18rem
}

.ml-190 {
    margin-left: 19rem
}

.ml-200 {
    margin-left: 20rem
}

.mr-100_ {
    margin-right: 100%
}

.mr-100w {
    margin-right: 100vw
}

.mr-0 {
    margin-right: 0 !important
}

.mr-2 {
    margin-right: .2rem
}

.mr-3 {
    margin-right: .3rem
}

.mr-4 {
    margin-right: .4rem
}

.mr-5 {
    margin-right: .5rem
}

.mr-6 {
    margin-right: .6rem
}

.mr-7 {
    margin-right: .7rem
}

.mr-8 {
    margin-right: .8rem
}

.mr-9 {
    margin-right: .9rem
}

.mr-10 {
    margin-right: 1rem
}

.mr-11 {
    margin-right: 1.1rem
}

.mr-12 {
    margin-right: 1.2rem
}

.mr-13 {
    margin-right: 1.3rem
}

.mr-14 {
    margin-right: 1.4rem
}

.mr-15 {
    margin-right: 1.5rem
}

.mr-16 {
    margin-right: 1.6rem
}

.mr-17 {
    margin-right: 1.7rem
}

.mr-18 {
    margin-right: 1.8rem
}

.mr-19 {
    margin-right: 1.9rem
}

.mr-20 {
    margin-right: 2rem
}

.mr-21 {
    margin-right: 2.1rem
}

.mr-22 {
    margin-right: 2.2rem
}

.mr-23 {
    margin-right: 23rem
}

.mr-24 {
    margin-right: 2.4rem
}

.mr-25 {
    margin-right: 2.5rem
}

.mr-26 {
    margin-right: 2.6rem
}

.mr-32 {
    margin-right: 3.2rem
}

.mr-36 {
    margin-right: 3.6rem
}

.mr-38 {
    margin-right: 3.8rem
}

.mr-40 {
    margin-right: 4rem
}

.mr-42 {
    margin-right: 3.1rem
}

.mr-48 {
    margin-right: 4.8rem
}

.mr-50 {
    margin-right: 5rem
}

.mr-52 {
    margin-right: 5.2rem
}

.mr-56 {
    margin-right: 5.6rem
}

.mr-60 {
    margin-right: 6rem
}

.mr-70 {
    margin-right: 7rem
}

.mr-80 {
    margin-right: 8rem
}

.mr-90 {
    margin-right: 9rem
}

.mr-100 {
    margin-right: 10rem
}

.mr-120 {
    margin-right: 12rem
}

.mr-125 {
    margin-right: 12.5rem !important
}

.mr-130 {
    margin-right: 13rem !important
}

.mr-140 {
    margin-right: 14rem !important
}

.mr-150 {
    margin-right: 15rem
}

.mr-160 {
    margin-right: 16rem
}

.mr-170 {
    margin-right: 17rem
}

.mr-180 {
    margin-right: 18rem
}

.mr-190 {
    margin-right: 19rem
}

.mr-200 {
    margin-right: 20rem
}

.m100_ {
    margin-bottom: 100%
}

.mb-100w {
    margin-bottom: 100vw
}

.mb-0 {
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: .2rem
}

.mb-3 {
    margin-bottom: .3rem
}

.mb-4 {
    margin-bottom: .4rem
}

.mb-5 {
    margin-bottom: .5rem
}

.mb-6 {
    margin-bottom: .6rem
}

.mb-7 {
    margin-bottom: .7rem
}

.mb-8 {
    margin-bottom: .8rem
}

.mb-9 {
    margin-bottom: .9rem
}

.mb-10 {
    margin-bottom: 1rem
}

.mb-11 {
    margin-bottom: 1.1rem
}

.mb-12 {
    margin-bottom: 1.2rem
}

.mb-13 {
    margin-bottom: 1.3rem
}

.mb-14 {
    margin-bottom: 1.4rem
}

.mb-15 {
    margin-bottom: 1.5rem
}

.mb-16 {
    margin-bottom: 1.6rem
}

.mb-17 {
    margin-bottom: 1.7rem
}

.mb-18 {
    margin-bottom: 1.8rem
}

.mb-19 {
    margin-bottom: 1.9rem
}

.mb-20 {
    margin-bottom: 2rem
}

.mb-21 {
    margin-bottom: 2.1rem
}

.mb-22 {
    margin-bottom: 2.2rem
}

.mb-23 {
    margin-bottom: 23rem
}

.mb-24 {
    margin-bottom: 2.4rem
}

.mb-25 {
    margin-bottom: 2.5rem
}

.mb-26 {
    margin-bottom: 2.6rem
}

.mb-30 {
    margin-bottom: 3rem
}

.mb-32 {
    margin-bottom: 3.2rem
}

.mb-36 {
    margin-bottom: 3.6rem
}

.mb-38 {
    margin-bottom: 3.8rem
}

.mb-40 {
    margin-bottom: 4rem
}

.mb-42 {
    margin-bottom: 3.1rem
}

.mb-48 {
    margin-bottom: 4.8rem !important
}

.mb-50 {
    margin-bottom: 5rem
}

.mb-52 {
    margin-bottom: 5.2rem
}

.mb-56 {
    margin-bottom: 5.6rem !important
}

.mb-60 {
    margin-bottom: 6rem
}

.mb-70 {
    margin-bottom: 7rem
}

.mb-72 {
    margin-bottom: 7.2rem !important
}

.mb-80 {
    margin-bottom: 8rem
}

.mb-90 {
    margin-bottom: 9rem
}

.mb-100 {
    margin-bottom: 10rem
}

.mb-120 {
    margin-bottom: 12rem
}

.mb-130 {
    margin-bottom: 13rem
}

.mb-140 {
    margin-bottom: 14rem
}

.mb-150 {
    margin-bottom: 15rem
}

.mb-160 {
    margin-bottom: 16rem
}

.mb-170 {
    margin-bottom: 17rem
}

.mb-180 {
    margin-bottom: 18rem
}

.mb-190 {
    margin-bottom: 19rem
}

.mb-200 {
    margin-bottom: 20rem
}

.mt-100_ {
    margin-top: 100%
}

.mt-100w {
    margin-top: 100vw
}

.mt-2 {
    margin-top: .2rem
}

.mt-3 {
    margin-top: .3rem
}

.mt-4 {
    margin-top: .4rem
}

.mt-5 {
    margin-top: .5rem
}

.mt-6 {
    margin-top: .6rem
}

.mt-7 {
    margin-top: .7rem
}

.mt-8 {
    margin-top: .8rem
}

.mt-9 {
    margin-top: .9rem
}

.mt-10 {
    margin-top: 1rem
}

.mt-11 {
    margin-top: 1.1rem
}

.mt-12 {
    margin-top: 1.2rem
}

.mt-13 {
    margin-top: 1.3rem
}

.mt-14 {
    margin-top: 1.4rem
}

.mt-15 {
    margin-top: 1.5rem
}

.mt-16 {
    margin-top: 1.6rem
}

.mt-17 {
    margin-top: 1.7rem
}

.mt-18 {
    margin-top: 1.8rem
}

.mt-19 {
    margin-top: 1.9rem
}

.mt-20 {
    margin-top: 2rem
}

.mt-21 {
    margin-top: 2.1rem
}

.mt-22 {
    margin-top: 2.2rem
}

.mt-23 {
    margin-top: 23rem
}

.mt-24 {
    margin-top: 2.4rem
}

.mt-25 {
    margin-top: 2.5rem
}

.mt-26 {
    margin-top: 2.6rem
}

.mt-32 {
    margin-top: 3.2rem
}

.mt-36 {
    margin-top: 3.6rem
}

.mt-38 {
    margin-top: 3.8rem
}

.mt-40 {
    margin-top: 4rem
}

.mt-42 {
    margin-top: 3.1rem
}

.mt-48 {
    margin-top: 4.8rem
}

.mt-50 {
    margin-top: 5rem
}

.mt-52 {
    margin-top: 5.2rem
}

.mt-56 {
    margin-top: 5.6rem
}

.mt-60 {
    margin-top: 6rem
}

.mt-70 {
    margin-top: 7rem
}

.mt-72 {
    margin-top: 7.2rem
}

.mt-80 {
    margin-top: 8rem
}

.mt-90 {
    margin-top: 9rem
}

.mt-100 {
    margin-top: 10rem
}

.mt-120 {
    margin-top: 12rem
}

.mt-130 {
    margin-top: 13rem
}

.mt-140 {
    margin-top: 14rem
}

.mt-150 {
    margin-top: 15rem
}

.mt-160 {
    margin-top: 16rem
}

.mt-170 {
    margin-top: 17rem
}

.mt-180 {
    margin-top: 18rem
}

.mt-190 {
    margin-top: 19rem
}

.mt-200 {
    margin-top: 20rem
}

.py-6 {
    padding-top: .6rem;
    padding-bottom: .6rem
}

.py-7 {
    padding-top: .7rem;
    padding-bottom: .7rem
}

.py-8 {
    padding-top: .8rem;
    padding-bottom: .8rem
}

.py-9 {
    padding-top: .9rem;
    padding-bottom: .9rem
}

.py-10 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.py-11 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem
}

.py-12 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem
}

.py-13 {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem
}

.py-14 {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem
}

.py-15 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.py-16 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem
}

.py-17 {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem
}

.py-18 {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem
}

.py-19 {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem
}

.py-20 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-21 {
    padding-top: 2.1rem;
    padding-bottom: 2.1rem
}

.py-22 {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem
}

.py-23 {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem
}

.py-24 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem
}

.py-25 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.py-26 {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem
}

.py-32 {
    padding-top: 3.2rem;
    padding-bottom: 3.1rem
}

.py-36 {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem
}

.py-38 {
    padding-top: 3.8rem;
    padding-bottom: 3.8rem
}

.py-40 {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.py-42 {
    padding-top: 4.2rem;
    padding-bottom: 3.2rem
}

.py-48 {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem
}

.py-50 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.px-6 {
    padding-right: .6rem;
    padding-left: .6rem
}

.px-7 {
    padding-right: .7rem;
    padding-left: .7rem
}

.px-8 {
    padding-right: .8rem;
    padding-left: .8rem
}

.px-9 {
    padding-right: .9rem;
    padding-left: .9rem
}

.px-10 {
    padding-right: 1rem;
    padding-left: 1rem
}

.px-11 {
    padding-right: 1.1rem;
    padding-left: 1.1rem
}

.px-12 {
    padding-right: 1.2rem;
    padding-left: 1.2rem
}

.px-13 {
    padding-right: 1.3rem;
    padding-left: 1.3rem
}

.px-14 {
    padding-right: 1.4rem;
    padding-left: 1.4rem
}

.px-15 {
    padding-right: 1.5rem;
    padding-left: 1.5rem
}

.px-16 {
    padding-right: 1.6rem;
    padding-left: 1.6rem
}

.px-17 {
    padding-right: 1.7rem;
    padding-left: 1.7rem
}

.px-18 {
    padding-right: 1.8rem;
    padding-left: 1.8rem
}

.px-19 {
    padding-right: 1.9rem;
    padding-left: 1.9rem
}

.px-20 {
    padding-right: 2rem;
    padding-left: 2rem
}

.px-21 {
    padding-right: 2.1rem;
    padding-left: 2.1rem
}

.px-22 {
    padding-right: 2.2rem;
    padding-left: 2.2rem
}

.px-23 {
    padding-right: 2.3rem;
    padding-left: 2.3rem
}

.px-24 {
    padding-right: 2.4rem;
    padding-left: 2.4rem
}

.px-25 {
    padding-right: 2.5rem;
    padding-left: 2.5rem
}

.px-26 {
    padding-right: 2.6rem;
    padding-left: 2.6rem
}

.px-32 {
    padding-right: 3.2rem;
    padding-left: 3.2rem
}

.px-36 {
    padding-right: 3.6rem;
    padding-left: 3.6rem
}

.px-38 {
    padding-right: 3.8rem;
    padding-left: 3.8rem
}

.px-40 {
    padding-right: 4rem;
    padding-left: 4rem
}

.px-42 {
    padding-right: 4.2rem;
    padding-left: 3.2rem
}

.px-48 {
    padding-right: 4.8rem;
    padding-left: 4.8rem
}

.px-50 {
    padding-right: 5rem;
    padding-left: 5rem
}

.p-100_ {
    padding: 100%
}

.p-100w {
    padding: 100vw
}

.p-2 {
    padding: .2rem
}

.p-3 {
    padding: .3rem
}

.p-4 {
    padding: .4rem
}

.p-5 {
    padding: .5rem
}

.p-6 {
    padding: .6rem
}

.p-7 {
    padding: .7rem
}

.p-8 {
    padding: .8rem
}

.p-9 {
    padding: .9rem
}

.p-10 {
    padding: 1rem
}

.p-11 {
    padding: 1.1rem
}

.p-12 {
    padding: 1.2rem
}

.p-13 {
    padding: 1.3rem
}

.p-14 {
    padding: 1.4rem
}

.p-15 {
    padding: 1.5rem
}

.p-16 {
    padding: 1.6rem
}

.p-17 {
    padding: 1.7rem
}

.p-18 {
    padding: 1.8rem
}

.p-19 {
    padding: 1.9rem
}

.p-20 {
    padding: 2rem
}

.p-21 {
    padding: 2.1rem
}

.p-22 {
    padding: 2.2rem
}

.p-23 {
    padding: 23rem
}

.p-24 {
    padding: 2.4rem
}

.p-25 {
    padding: 2.5rem
}

.p-26 {
    padding: 2.6rem
}

.p-32 {
    padding: 3.2rem
}

.p-36 {
    padding: 3.6rem
}

.p-38 {
    padding: 3.8rem
}

.p-40 {
    padding: 4rem
}

.p-42 {
    padding: 3.1rem
}

.p-48 {
    padding: 4.8rem
}

.p-50 {
    padding: 5rem
}

.p-52 {
    padding: 5.2rem
}

.p-56 {
    padding: 5.6rem
}

.p-60 {
    padding: 6rem
}

.p-70 {
    padding: 7rem
}

.p-80 {
    padding: 8rem
}

.p-90 {
    padding: 9rem
}

.p-100 {
    padding: 10rem
}

.p-120 {
    padding: 12rem
}

.p-130 {
    padding: 13rem
}

.p-140 {
    padding: 14rem
}

.p-150 {
    padding: 15rem
}

.p-160 {
    padding: 16rem
}

.p-170 {
    padding: 17rem
}

.p-180 {
    padding: 18rem
}

.p-190 {
    padding: 19rem
}

.p-200 {
    padding: 20rem
}

.pl-100_ {
    padding-left: 100%
}

.pl-100w {
    padding-left: 100vw
}

.pl-2 {
    padding-left: .2rem
}

.pl-3 {
    padding-left: .3rem
}

.pl-4 {
    padding-left: .4rem
}

.pl-5 {
    padding-left: .5rem
}

.pl-6 {
    padding-left: .6rem
}

.pl-7 {
    padding-left: .7rem
}

.pl-8 {
    padding-left: .8rem
}

.pl-9 {
    padding-left: .9rem
}

.pl-10 {
    padding-left: 1rem
}

.pl-11 {
    padding-left: 1.1rem
}

.pl-12 {
    padding-left: 1.2rem
}

.pl-13 {
    padding-left: 1.3rem
}

.pl-14 {
    padding-left: 1.4rem
}

.pl-15 {
    padding-left: 1.5rem
}

.pl-16 {
    padding-left: 1.6rem
}

.pl-17 {
    padding-left: 1.7rem
}

.pl-18 {
    padding-left: 1.8rem
}

.pl-19 {
    padding-left: 1.9rem
}

.pl-20 {
    padding-left: 2rem
}

.pl-21 {
    padding-left: 2.1rem
}

.pl-22 {
    padding-left: 2.2rem
}

.pl-23 {
    padding-left: 23rem
}

.pl-24 {
    padding-left: 2.4rem
}

.pl-25 {
    padding-left: 2.5rem
}

.pl-26 {
    padding-left: 2.6rem
}

.pl-32 {
    padding-left: 3.2rem
}

.pl-36 {
    padding-left: 3.6rem
}

.pl-38 {
    padding-left: 3.8rem
}

.pl-40 {
    padding-left: 4rem
}

.pl-42 {
    padding-left: 3.1rem
}

.pl-48 {
    padding-left: 4.8rem
}

.pl-50 {
    padding-left: 5rem
}

.pl-52 {
    padding-left: 5.2rem
}

.pl-56 {
    padding-left: 5.6rem
}

.pl-60 {
    padding-left: 6rem
}

.pl-70 {
    padding-left: 7rem
}

.pl-80 {
    padding-left: 8rem
}

.pl-90 {
    padding-left: 9rem
}

.pl-100 {
    padding-left: 10rem
}

.pl-120 {
    padding-left: 12rem
}

.pl-130 {
    padding-left: 13rem
}

.pl-140 {
    padding-left: 14rem
}

.pl-150 {
    padding-left: 15rem
}

.pl-160 {
    padding-left: 16rem
}

.pl-170 {
    padding-left: 17rem
}

.pl-180 {
    padding-left: 18rem
}

.pl-190 {
    padding-left: 19rem
}

.pl-200 {
    padding-left: 20rem
}

.pr-100_ {
    padding-right: 100%
}

.pr-100w {
    padding-right: 100vw
}

.pr-2 {
    padding-right: .2rem
}

.pr-3 {
    padding-right: .3rem
}

.pr-4 {
    padding-right: .4rem
}

.pr-5 {
    padding-right: .5rem
}

.pr-6 {
    padding-right: .6rem
}

.pr-7 {
    padding-right: .7rem
}

.pr-8 {
    padding-right: .8rem
}

.pr-9 {
    padding-right: .9rem
}

.pr-10 {
    padding-right: 1rem
}

.pr-11 {
    padding-right: 1.1rem
}

.pr-12 {
    padding-right: 1.2rem
}

.pr-13 {
    padding-right: 1.3rem
}

.pr-14 {
    padding-right: 1.4rem
}

.pr-15 {
    padding-right: 1.5rem
}

.pr-16 {
    padding-right: 1.6rem
}

.pr-17 {
    padding-right: 1.7rem
}

.pr-18 {
    padding-right: 1.8rem
}

.pr-19 {
    padding-right: 1.9rem
}

.pr-20 {
    padding-right: 2rem
}

.pr-21 {
    padding-right: 2.1rem
}

.pr-22 {
    padding-right: 2.2rem
}

.pr-23 {
    padding-right: 23rem
}

.pr-24 {
    padding-right: 2.4rem
}

.pr-25 {
    padding-right: 2.5rem
}

.pr-26 {
    padding-right: 2.6rem
}

.pr-32 {
    padding-right: 3.2rem
}

.pr-36 {
    padding-right: 3.6rem
}

.pr-38 {
    padding-right: 3.8rem
}

.pr-40 {
    padding-right: 4rem
}

.pr-42 {
    padding-right: 3.1rem
}

.pr-48 {
    padding-right: 4.8rem
}

.pr-50 {
    padding-right: 5rem
}

.pr-52 {
    padding-right: 5.2rem
}

.pr-56 {
    padding-right: 5.6rem
}

.pr-60 {
    padding-right: 6rem
}

.pr-70 {
    padding-right: 7rem
}

.pr-80 {
    padding-right: 8rem
}

.pr-90 {
    padding-right: 9rem
}

.pr-100 {
    padding-right: 10rem
}

.pr-120 {
    padding-right: 12rem
}

.pr-130 {
    padding-right: 13rem
}

.pr-140 {
    padding-right: 14rem
}

.pr-150 {
    padding-right: 15rem
}

.pr-160 {
    padding-right: 16rem
}

.pr-170 {
    padding-right: 17rem
}

.pr-180 {
    padding-right: 18rem
}

.pr-190 {
    padding-right: 19rem
}

.pr-200 {
    padding-right: 20rem
}

.pt-100_ {
    padding-top: 100%
}

.pt-100w {
    padding-top: 100vw
}

.pt-2 {
    padding-top: .2rem
}

.pt-3 {
    padding-top: .3rem
}

.pt-4 {
    padding-top: .4rem
}

.pt-5 {
    padding-top: .5rem
}

.pt-6 {
    padding-top: .6rem
}

.pt-7 {
    padding-top: .7rem
}

.pt-8 {
    padding-top: .8rem
}

.pt-9 {
    padding-top: .9rem
}

.pt-10 {
    padding-top: 1rem
}

.pt-11 {
    padding-top: 1.1rem
}

.pt-12 {
    padding-top: 1.2rem
}

.pt-13 {
    padding-top: 1.3rem
}

.pt-14 {
    padding-top: 1.4rem
}

.pt-15 {
    padding-top: 1.5rem
}

.pt-16 {
    padding-top: 1.6rem
}

.pt-17 {
    padding-top: 1.7rem
}

.pt-18 {
    padding-top: 1.8rem
}

.pt-19 {
    padding-top: 1.9rem
}

.pt-20 {
    padding-top: 2rem
}

.pt-21 {
    padding-top: 2.1rem
}

.pt-22 {
    padding-top: 2.2rem
}

.pt-23 {
    padding-top: 23rem
}

.pt-24 {
    padding-top: 2.4rem
}

.pt-25 {
    padding-top: 2.5rem
}

.pt-26 {
    padding-top: 2.6rem
}

.pt-32 {
    padding-top: 3.2rem
}

.pt-36 {
    padding-top: 3.6rem
}

.pt-38 {
    padding-top: 3.8rem
}

.pt-40 {
    padding-top: 4rem
}

.pt-42 {
    padding-top: 3.1rem
}

.pt-48 {
    padding-top: 4.8rem
}

.pt-50 {
    padding-top: 5rem
}

.pt-52 {
    padding-top: 5.2rem
}

.pt-56 {
    padding-top: 5.6rem
}

.pt-60 {
    padding-top: 6rem
}

.pt-70 {
    padding-top: 7rem
}

.pt-80 {
    padding-top: 8rem
}

.pt-90 {
    padding-top: 9rem
}

.pt-100 {
    padding-top: 10rem
}

.pt-120 {
    padding-top: 12rem
}

.pt-130 {
    padding-top: 13rem
}

.pt-140 {
    padding-top: 14rem
}

.pt-150 {
    padding-top: 15rem
}

.pt-160 {
    padding-top: 16rem
}

.pt-170 {
    padding-top: 17rem
}

.pt-180 {
    padding-top: 18rem
}

.pt-190 {
    padding-top: 19rem
}

.pt-200 {
    padding-top: 20rem
}

.pb-100_ {
    padding-bottom: 100%
}

.pb-0 {
    padding-bottom: 0;
}

.pb-100w {
    padding-bottom: 100vw
}

.pb-2 {
    padding-bottom: .2rem
}

.pb-3 {
    padding-bottom: .3rem
}

.pb-4 {
    padding-bottom: .4rem
}

.pb-5 {
    padding-bottom: .5rem
}

.pb-6 {
    padding-bottom: .6rem
}

.pb-7 {
    padding-bottom: .7rem
}

.pb-8 {
    padding-bottom: .8rem
}

.pb-9 {
    padding-bottom: .9rem
}

.pb-10 {
    padding-bottom: 1rem
}

.pb-11 {
    padding-bottom: 1.1rem
}

.pb-12 {
    padding-bottom: 1.2rem
}

.pb-13 {
    padding-bottom: 1.3rem
}

.pb-14 {
    padding-bottom: 1.4rem
}

.pb-15 {
    padding-bottom: 1.5rem
}

.pb-16 {
    padding-bottom: 1.6rem
}

.pb-17 {
    padding-bottom: 1.7rem
}

.pb-18 {
    padding-bottom: 1.8rem
}

.pb-19 {
    padding-bottom: 1.9rem
}

.pb-20 {
    padding-bottom: 2rem
}

.pb-21 {
    padding-bottom: 2.1rem
}

.pb-22 {
    padding-bottom: 2.2rem
}

.pb-23 {
    padding-bottom: 23rem
}

.pb-24 {
    padding-bottom: 2.4rem
}

.pb-25 {
    padding-bottom: 2.5rem
}

.pb-26 {
    padding-bottom: 2.6rem
}

.pb-32 {
    padding-bottom: 3.2rem
}

.pb-36 {
    padding-bottom: 3.6rem
}

.pb-38 {
    padding-bottom: 3.8rem
}

.pb-40 {
    padding-bottom: 4rem
}

.pb-42 {
    padding-bottom: 3.1rem
}

.pb-48 {
    padding-bottom: 4.8rem
}

.pb-50 {
    padding-bottom: 5rem
}

.pb-52 {
    padding-bottom: 5.2rem
}

.pb-56 {
    padding-bottom: 5.6rem
}

.pb-60 {
    padding-bottom: 6rem
}

.pb-70 {
    padding-bottom: 7rem
}

.pb-72 {
    padding-bottom: 7.2rem
}


.pb-80 {
    padding-bottom: 8rem
}

.pb-90 {
    padding-bottom: 9rem
}

.pb-100 {
    padding-bottom: 10rem
}

.pb-120 {
    padding-bottom: 12rem
}

.pb-130 {
    padding-bottom: 13rem
}

.pb-140 {
    padding-bottom: 14rem
}

.pb-150 {
    padding-bottom: 15rem
}

.pb-160 {
    padding-bottom: 16rem
}

.pb-170 {
    padding-bottom: 17rem
}

.pb-180 {
    padding-bottom: 18rem
}

.pb-190 {
    padding-bottom: 19rem
}

.pb-200 {
    padding-bottom: 20rem
}

.br-100_ {
    border-radius: 100%
}

.br-50_ {
    border-radius: 50%
}

.br-2 {
    border-radius: .2rem
}

.br-3 {
    border-radius: .3rem
}

.br-4 {
    border-radius: .4rem
}

.br-5 {
    border-radius: .5rem
}

.br-6 {
    border-radius: .6rem
}

.br-7 {
    border-radius: .7rem
}

.br-8 {
    border-radius: .8rem
}

.br-9 {
    border-radius: .9rem
}

.br-10 {
    border-radius: 1rem
}

.br-12 {
    border-radius: 1.2rem
}

.tr-2 {
    transition: .2s
}

.tr-3 {
    transition: .3s
}

.tr-4 {
    transition: .4s
}

.tr-5 {
    transition: .5s
}

.tr-6 {
    transition: .6s
}

.tr-7 {
    transition: .7s
}

.tr-8 {
    transition: .8s
}

.tr-9 {
    transition: .9s
}

.tr-10 {
    transition: 1s
}

.font-w-normal {
    font-weight: 400
}

.font-w-light {
    font-weight: lighter
}

.font-w-bold {
    font-weight: 700
}

.font-w-100 {
    font-weight: 100
}

.font-w-200 {
    font-weight: 200
}

.font-w-300 {
    font-weight: 300
}

.font-w-400 {
    font-weight: 400
}

.font-w-500 {
    font-weight: 500
}

.font-w-600 {
    font-weight: 600
}

.font-w-800 {
    font-weight: 800
}

.font-s-normal {
    font-style: normal
}

.font-s-italic {
    font-style: italic
}

.line-h-normal {
    line-height: normal
}

.line-h-100_ {
    line-height: 100%
}

.line-h-125_ {
    line-height: 125%
}

.line-h-150_ {
    line-height: 150%
}

.line-h-200_ {
    line-height: 200%
}

.line-h-10 {
    line-height: 1rem
}

.line-h-20 {
    line-height: 2rem
}

.font-6 {
    font-size: .6rem
}

.font-7 {
    font-size: .7rem
}

.font-8 {
    font-size: .8rem
}

.font-9 {
    font-size: .9rem
}

.font-10 {
    font-size: 1rem
}

.font-11 {
    font-size: 1.1rem
}

.font-12 {
    font-size: 1.2rem
}

.font-13 {
    font-size: 1.3rem
}

.font-14 {
    font-size: 1.4rem
}

.font-15 {
    font-size: 1.5rem
}

.font-16 {
    font-size: 1.6rem
}

.font-17 {
    font-size: 1.7rem
}

.font-18 {
    font-size: 1.8rem
}

.font-19 {
    font-size: 1.9rem
}

.font-20 {
    font-size: 2rem
}

.font-21 {
    font-size: 2.1rem
}

.font-22 {
    font-size: 2.2rem
}

.font-23 {
    font-size: 23rem
}

.font-24 {
    font-size: 2.4rem
}

.font-25 {
    font-size: 2.5rem
}

.font-26 {
    font-size: 2.6rem
}

.font-28 {
    font-size: 2.8rem
}

.font-32 {
    font-size: 3.2rem
}

.font-36 {
    font-size: 3.6rem
}

.font-38 {
    font-size: 3.8rem
}

.font-40 {
    font-size: 4rem
}

.font-42 {
    font-size: 3.1rem
}

.font-48 {
    font-size: 4.8rem
}

.font-50 {
    font-size: 5rem
}

.font-56 {
    font-size: 5.6rem
}

body.active {
    overflow: hidden
}

html {
    font-size: 10px
}

@media screen and (max-width:1199.9px) {
    html {
        font-size: 9px
    }
}

@media screen and (max-width:1023.9px) {
    html {
        font-size: 8px
    }
}

@media screen and (max-width:991.9px) {
    html {
        font-size: 7px
    }
}

@media screen and (max-width:767.9px) {
    html {
        font-size: 10px
    }

    .container {
        max-width: 100%;
        padding-left: 1.6rem;
        padding-right: 1.6rem
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 1.6rem
}

@media screen and (min-width:1199.9px) {
    .xl-1 {
        grid-column: span 1
    }

    .xl-2 {
        grid-column: span 2
    }

    .xl-3 {
        grid-column: span 3
    }

    .xl-4 {
        grid-column: span 4
    }

    .xl-5 {
        grid-column: span 5
    }

    .xl-6 {
        grid-column: span 6
    }

    .xl-7 {
        grid-column: span 7
    }

    .xl-8 {
        grid-column: span 8
    }

    .xl-9 {
        grid-column: span 9
    }

    .xl-10 {
        grid-column: span 10
    }

    .xl-12 {
        grid-column: span 12
    }
}

@media screen and (max-width:1199.9px) and (min-width:991.9px) {
    .lg-2 {
        grid-column: span 2
    }

    .lg-3 {
        grid-column: span 3
    }

    .lg-4 {
        grid-column: span 4
    }

    .lg-5 {
        grid-column: span 5
    }

    .lg-6 {
        grid-column: span 6
    }

    .lg-7 {
        grid-column: span 7
    }

    .lg-8 {
        grid-column: span 8
    }

    .lg-9 {
        grid-column: span 9
    }

    .lg-10 {
        grid-column: span 10
    }

    .lg-12 {
        grid-column: span 12
    }
}

@media screen and (max-width:991.9px) and (min-width:767.9px) {
    .md-2 {
        grid-column: span 2
    }

    .md-3 {
        grid-column: span 3
    }

    .md-4 {
        grid-column: span 4
    }

    .md-5 {
        grid-column: span 5
    }

    .md-6 {
        grid-column: span 6
    }

    .md-7 {
        grid-column: span 7
    }

    .md-8 {
        grid-column: span 8
    }

    .md-9 {
        grid-column: span 9
    }

    .lg-10 {
        grid-column: span 10
    }

    .md-12 {
        grid-column: span 12
    }
}

@media screen and (max-width:767.9px) {
    .sm-0 {
        display: none
    }

    .sm-6 {
        grid-column: span 6
    }

    .sm-12 {
        grid-column: span 12
    }

    .resp-mb-32 {
        margin-bottom: 3.2rem !important;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: #989eaf
}

input,
textarea,
select {
    color: #444 !important
}

p {
    margin: 0
}

a {
    text-decoration: none;
    display: block
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    outline: 0;
    cursor: pointer
}

button,
input,
textarea,
select {
    outline: 0;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0
}

.df {
    display: flex;
}

.aic {
    align-items: center;
}

.aifs {
    align-items: flex-start;
}

.aife {
    align-items: flex-end;
}

.jcc {
    justify-content: center;
}

.jcfe {
    justify-content: flex-end;
}

.jcfs {
    justify-content: flex-start;
}

.db {
    display: block;
}

.fdc {
    flex-direction: column;
}

.fdr {
    flex-direction: row;
}

.jcsa {
    justify-content: space-around;
}

.jcsb {
    justify-content: space-between;
}

.b-trans {
    background-color: transparent;
}

.bnone {
    border: none;
}