body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Mark Pro" !important;
  font-size: 10px !important;
  font-variant: tabular-nums !important;
  line-height: 1 !important;
  background-color: transparent !important;
  font-feature-settings: "tnum", "tnum";
}

body.body-overflow {
  .header-bottom {
    &.active {
      display: block;
    }
  }
}

.homepage {
  padding-bottom: 7.2rem;
}

* {
  font-family: "Montserrat";
}

.markpro {
  font-family: "Mark Pro" !important;
}

.montserrat {
  font-family: "Montserrat" !important;
}

.container {
  padding: 0 2.4rem;
  max-width: 141.8rem;
  margin: 0 auto;
}

// color palet
.c-red {
  color: #e74445 !important;
}

.c-dark-gray {
  color: #363636;
}

.c-blue {
  color: #0062ff;
}

.c-white {
  color: #fff;
}

.c-69 {
  color: #696969;
}

.c-99 {
  color: #999999;
}

.c-46 {
  color: #464646;
}

.c-black {
  color: #000;
}

.c-light-black {
  color: #2d2d38;
}

.c-light-black-25 {
  color: rgba(45, 45, 56, 0.25);
}

.c-light-gray {
  color: #a5b6d0;
}

.c-gray {
  color: #666666;
}

.c-red {
  color: #e84445;
}

.b-white {
  background-color: #fff;
}

.b-yellow {
  background: #ffd05f;
}

.b-gray {
  background: gainsboro;
}

.auth-a {
  a {
    text-decoration: revert;
  }
}

.tab-info {
  display: flex;
  align-items: center;

  height: 7.2rem;
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 100%;
  color: rgba(45, 45, 56, 0.5);

  span {
    color: #222222;
    display: block;
    margin: 0 0.3rem;
  }

  svg {
    margin-right: 1.2rem;
  }
}

.background-light-blue {
  background-color: #f6f7fa;
}

.input-group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.4rem;
  width: 100%;
  flex-wrap: nowrap;

  label {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 100%;
    color: #666666;
    margin-bottom: 1.2rem;
    display: block;
  }

  .input-child {
    &:first-child {
      margin-right: 2rem;
    }

    &:last-child {
      margin-right: 0;
    }

    input,
    textarea {
      color: #222;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 100%;
      border: 0.1rem solid rgba(45, 45, 56, 0.25) !important;

      &::placeholder {
        color: #666666 !important;
      }
    }
  }
}

.selectbox {
  border: 0.1rem solid rgba(45, 45, 56, 0.25) !important;
  border-radius: 0.6rem;
  opacity: 0.8;

  svg {
    fill: #2d2d38;
  }

  div {
    font-size: 1.6rem;
  }
}

#react-select-3-placeholder {
  font-size: 1.6rem;
}

// input
.input-class {
  border: 0.1rem solid rgba(45, 45, 56, 0.25);
  box-sizing: border-box;
  border-radius: 0.2rem;
  height: 4.8rem;
  background: #ffffff;
  padding: 0 2.4rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
  color: #2d2d38;
  transition: 0.3s;

  &:focus {
    border: 0.1rem solid #363636;
  }

  &:focus-within {
    border: 0.1rem solid #363636;
  }
}

.input-child {
  width: 100%;
}

.input-child input,
.input-child textarea,
.input-quantity input {
  background: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 0.6rem;
  height: 4.6rem;
  padding: 0 2.4rem;
  font-family: Mark Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #22222222;
  width: 100%;
  resize: none;
}

a:hover {
  color: #666666 !important;
}

.input-child input::placeholder,
.input-child textarea::placeholder,
.input-quantity input {
  color: #66666666;
}

.input-quantity input {
  width: 11rem;
}

.input-child textarea {
  padding: 1.6rem 2.4rem;
  height: 15.4rem;
}

.header-post-request {
  background: #ffcb6d;
  box-shadow: 0 0.4rem 0.6rem rgba(250, 198, 74, 0.12);
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 3.8rem;
  padding: 0 1.2rem 0 0.8rem;
  white-space: nowrap;

  img {
    margin-right: 0.8rem;
    width: 2.2rem;
    height: 2.2rem;
  }
}

// about side bar
.sidebar-static-page {
  a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 150%;
    color: #a5b6d0;
    opacity: 0.75;
    margin-bottom: 2.4rem;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      text-decoration-line: underline;
    }
  }
}

.product-page-left-details {
  background: #ffffff;
  border-radius: 0.2rem;
  margin-bottom: 2.4rem;

  a {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 100%;
    color: #666666;
    padding: 2.4rem 3.2rem;
    border-left: 0.3rem solid transparent;

    &.active {
      background-color: rgba(255, 208, 95, 0.06);
      border-left: 0.3rem solid #ffd05f;
    }
  }
}

// button

.black-button {
  background: #363636;
  border: 0.1rem solid rgba(45, 45, 56, 0.25);
  box-sizing: border-box;
  box-shadow: 0 0.4rem 1.2rem rgba(34, 34, 34, 0.12);
  border-radius: 0.6rem;
  font-family: Mark Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 4.8rem;
  width: 22rem;
}

.yellow-button {
  font-family: Mark Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #363636;
  height: 3.8rem;
  width: 100%;
  background: #ffd05f;
  border-radius: 0.2rem;
  border: none;

  span {
    display: block;
    width: 2rem;
  }
}

.profile-save {
  width: 34rem;
  height: 4.6rem;
  border: none;
  font-weight: 500;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.6rem;
  padding-left: 1.2rem;
}

.phone-country {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;

  select {
    background: rgba(255, 255, 255, 0.1);
    border: 0.1rem solid #363636;
    box-sizing: border-box;
    border-radius: 0.6rem 0 0 0.6rem;
    height: 4.6rem;
    min-width: 8.4rem;
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 100%;
    padding-left: 1.6rem;
    color: #363636;
    -webkit-appearance: none;
  }

  img {
    position: absolute;
    left: 6.4rem;
  }

  input {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3.2rem;

  a {
    margin-right: 2.4rem;
  }
}

.edit-button {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 0.1rem solid rgba(165, 182, 208, 0.25);
  box-sizing: border-box;
  border-radius: 0.6rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #666666;
  padding: 1.2rem 2.4rem 1.2rem 1.2rem;

  svg {
    margin-right: 1.2rem;
  }
}

.button-grid {
  width: fit-content;
  height: fit-content;
  padding: 0;
  background-color: transparent;
  border: transparent;

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.inner-sidebar {
  background: #ffffff;
  border-radius: 0.2rem;
  overflow: hidden;
  padding: 1.6rem 0;
  padding-bottom: 9rem;

  a {
    font-family: "Mark Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 100%;
    color: #666666;
    padding: 1.6rem 3.2rem;
    background-color: #fff;

    &:first-child {
      padding: 1.6rem 3.2rem;
    }

    &:last-child {
      padding: 1.6rem 3.2rem;
    }

    &.active {
      background-color: rgba(255, 208, 95, 0.06);
      border-left: 0.3rem solid #ffd05f;
      padding-left: 2.9rem;
    }

    &.deactive {
      color: rgba(102, 102, 102, 0.5);

      &:hover {
        color: rgba(102, 102, 102, 0.5) !important;
      }
    }

    &:hover {
      color: #666666;
    }
  }
}

.logout-button {
  background: #FFFFFF;
  border: .1rem solid rgba(231, 68, 69, 0.25);
  box-sizing: border-box;
  border-radius: .6rem;
  height: 3.8rem;
  font-family: Mark Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
  color: #E74445;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
  position: relative;
  transition: .3s;

  svg {
    position: absolute;
    left: .8rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  &:hover {
    border: .1rem solid rgba(231, 68, 69, 1);
    color: #E74445 !important;
  }
}

.react-datepicker-wrapper {
  position: relative;

  input {
    color: #666666;
  }

  &::after {
    position: absolute;
    background-image: url("./assets/datepicker.png");
    right: 2.4rem;
    top: 1.6rem;
    z-index: 1;
    content: "";
    width: 1.5rem;
    height: 1.8rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.tab-select {
  display: flex;
  flex-direction: column;

  label {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 100%;
    color: #666666;
    margin-bottom: 1.2rem;
  }

  .selectbox {
    width: 34rem;
    margin-bottom: 3.2rem;
  }
}

.dashboard {
  background-color: #f6f7fa;
  padding: 2.4rem 0 4.8rem;
}

.dashboard-buyer {
  .verify-account-button {
    display: none;
  }
}

.css-1g9elxf-menu {
  z-index: 9999 !important;
}

.dashboard-card {
  background: #ffffff;
  box-shadow: 0 0 2.4rem rgba(38, 38, 38, 0.06);
  border-radius: 0.6rem;
  padding: 3.2rem 3.2rem 2.4rem;
  position: relative;
  margin-bottom: 1.6rem;

  h5 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 100%;
    color: #2d2d38;
    margin-bottom: 4.8rem;
    display: flex;
    align-items: center;

    span {
      color: rgba(45, 45, 56, 0.5);
      margin-left: 0.2rem;
      display: block;
    }
  }

  h3 {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 100%;
    color: #2d2d38;
  }

  p {
    font-family: "Mark Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 100%;
    color: rgba(45, 45, 56, 0.25);
    margin-bottom: 0;
  }

  img {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    right: 2.4rem;
    top: 2.4rem;
  }
}

.analytics-card {
  .dashboard-card {
    h3 {
      margin-bottom: 1.6rem;
    }

    h5 {
      margin-bottom: 3.2rem;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 100%;
      color: #2d2d38;
    }
  }
}

.dashboard-info-card {
  background: #ffffff;
  box-shadow: 0 0 2.4rem rgba(38, 38, 38, 0.06);
  border-radius: 0.6rem;
  padding: 3.2rem 3.2rem 2.4rem;
  position: relative;

  .dashboard-info-card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2.4rem;

    .img-container {
      border: 0.1rem solid rgba(45, 45, 56, 0.1);
      box-sizing: border-box;
      border-radius: 0.6rem;
      height: 7.4rem;
      width: 7.4rem;
      min-width: 7.4rem;
      overflow: hidden;
      margin-right: 1.4rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .title {
      font-family: "Montserrat" !important;
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;
      line-height: 100%;
      letter-spacing: 0.02em;
      color: #2d2d38;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin-bottom: 0.8rem;
    }

    .gradient-right {
      position: absolute;
      right: 3.2rem;
      top: 0;
      background: linear-gradient(270deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 100%);
      border-radius: 0 0 0 0;
      width: 3.2rem;
      height: 10rem;
    }

    .rating-section {
      margin-bottom: 0.6rem;

      svg {
        width: 1.5rem;
        height: 1.4rem;
      }
    }
  }
}

.website {
  font-family: "Mark Pro" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
  text-decoration-line: underline;
  color: #2d2d38;
}

.dashboard-info-card-body {
  .edit {
    font-family: "Mark Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 100%;
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8rem;
    height: 3.8rem;
    background: #ffffff;
    border: 0.1rem solid rgba(165, 182, 208, 0.25);
    box-sizing: border-box;
    border-radius: 0.6rem;

    svg {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}

.sub-status {
  background: rgba(255, 203, 109, 0.06);
  border-radius: 0.6rem;
  padding: 2.4rem;
  margin: 2.4rem 0;
  background-image: url(./assets/pattern.png);

  h5 {
    font-family: "Montserrat" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #2d2d38;
    margin-bottom: 1.6rem;
  }

  p {
    font-family: "Montserrat" !important;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #2d2d38;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.2rem;

    span {
      font-weight: 500 !important;
      display: block;
      margin-left: 2.4rem;
    }
  }
}

.dashboard-new-product {
  font-family: "Mark Pro" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2d2d38;
  border: none;
  border-radius: 0.6rem;
  height: 4.8rem;
}

.input-child {
  label {
    display: flex;
    align-items: center;

    span {
      display: block;
      margin-right: 0.3rem;
      color: #e74445;
    }
  }
}

.main-dist-child {
  margin-bottom: 2.4rem;

  label {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 100%;
    color: #666666;
    margin-bottom: 1.2rem;
    display: block;
  }

  input {
    border: 0.1rem solid rgba(45, 45, 56, 0.25);
    box-sizing: border-box;
    border-radius: 0.6rem;
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 100%;
    color: #666666;
    text-align: center;
    height: 4.8rem;
    width: 10rem;
    padding: 0 1.6rem;
  }
}

.tab-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3.2rem;

  .avatar-uploader {
    margin-right: 2rem;
  }

  .ant-upload-picture-card-wrapper {
    width: fit-content;

    .ant-upload.ant-upload-select-picture-card {
      margin: 0;
    }
  }

  .title {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 100%;
    color: #222222;
    margin-bottom: 0.8rem;
  }

  p {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 150%;
    color: #666666;
    margin-bottom: 0;
  }
}

.traningCenter-content {
  padding: 5.6rem;
  background: #ffffff;
  border-radius: 0.2rem;
}

.training-vodeo-card {
  margin-bottom: 5.6rem;

  span {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 100%;
    color: #a5b6d0;
    margin-bottom: 0.8rem;
    display: block;
  }

  h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 100%;
    color: #2d2d38;
    margin-bottom: 2.4rem;
  }

  img {
    width: 100%;
    height: 26rem;
    border-radius: 0.6rem;
  }
}

.message-content-right {
  background-color: #fff;
  border-radius: 0.2rem;
  padding-bottom: 2.6rem;
}

.user-header {
  padding: 3.2rem 5.6rem 3.2rem 3.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 100%;
    color: #2d2d38;
    margin-bottom: 0;
  }

  h6.subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 100%;
    color: #2d2d38;
    display: flex;
    align-items: center;

    span {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 100%;
      text-decoration-line: underline;
      color: rgba(45, 45, 56, 0.1);
      display: block;
      margin-left: 3.2rem;
    }
  }
}

.settings-button {
  display: none !important;
}

.products {
  .message-content-right {
    margin-bottom: 2.4rem;
    padding-bottom: 0;
  }
}

.miniSearch {
  // width: 28.4rem;

  .input-group-header {
    height: 4rem;
    padding: 0;

    input {
      font-size: 1.6rem;
    }

    button {
      height: 4rem;
    }
  }
}

.header-menu-left {
  display: none;
}

.selectContry {
  background: #ffffff;
  border: 0.1rem solid rgba(45, 45, 56, 0.1);
  box-sizing: border-box;
  border-radius: 0.3rem;
  width: 14.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #2d2d38;
  cursor: pointer;

  svg {
    height: 4rem;
    margin-left: 0.8rem;
  }
}

.messageCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 5.6rem 1.6rem 3.2rem;
  border-bottom: 0.1rem solid rgba(0, 98, 255, 0.25);
  background: rgba(255, 255, 255, 0.5);

  .img-container {
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.6rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h6.title {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    display: flex;
    align-items: center;
    color: #2d2d38;
    margin-bottom: 0;
  }

  p {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 125%;
    color: #666666;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
  }

  span {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 100%;
    color: #666666;
    display: block;
    padding-right: 2.4rem;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(0, 98, 255, 0.25);
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
    }
  }

  &.active {
    background: #dfecff;
    border-bottom: 0.1rem solid transparent;

    span {
      &::before {
        background: #0062ff;
      }
    }
  }
}

.orderCard {
  padding: 1.6rem 0;
  margin: 0 5.6rem 0 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid rgba(165, 182, 208, 0.1);

  .img-container {
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.6rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .order-status {
    svg {
      width: 3.8rem;
      height: 3.8rem;
    }
  }
}

.supportCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 5.6rem 3.2rem 3.2rem;
  border-bottom: 0.2rem solid #f6f9ff;

  h6 {
    font-family: "Mark Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 100%;
    color: #a5b6d0;
    margin-bottom: 0.8rem;
  }

  p {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 100%;
    color: #2d2d38;
    margin-bottom: 0;
  }

  .support-button {
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 100%;
    color: #2d2d38;
    border: 0.1rem solid rgba(45, 45, 56, 0.1);
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0.6rem;
    height: 3.8rem;
    width: 15.2rem;
  }
}

.price-select {
  width: 22rem;

  select {
    border-radius: 0 0.6rem 0.6rem 0;
    width: 11rem;
    padding-left: 2.4rem;
  }

  input {
    width: 11rem;
    background: #ffffff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1) !important;
    box-sizing: border-box;
    border-radius: 0.6rem 0 0 0.6rem !important;
    height: 4.6rem !important;
  }

  img {
    right: 2.4rem !important;
    left: auto;
  }
}

.input-order-q {
  width: 22rem !important;
}

.yellow-border {
  font-family: Mark Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #ffcb6d !important;
  margin-left: 1.2rem;
  border: 0.1rem solid #ffcb6d;
  box-sizing: border-box;
  border-radius: 0.6rem;
}

.chat-card-right {
  position: relative;
  border-radius: 0.2rem;
  background: #ffffff;

  .chat-card-header {
    padding: 1.6rem 2.4rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;

    .img-container {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 0.3rem;
      margin-right: 1.2rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .chat-card-header-info {
      h5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 100%;
        color: #363636;
        margin-bottom: 0.4rem;
      }

      span {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 100%;
        text-decoration-line: underline;
        color: #25d366;
      }
    }
  }

  .chat-card-body {
    background: #eff4fc;
    border-radius: 0.2rem;
    padding: 2.4rem;
    height: 33.3rem;
    overflow: auto;
    padding-bottom: 1rem;

    .chat-card-body-inner {
      // overflow: auto;

      .chat-min-card {
        font-family: "Mark Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 150%;
        color: #2d2d38;
        background: #ffffff;
        box-shadow: 0 0 1.2rem rgba(34, 34, 34, 0.06);
        margin-bottom: 1.6rem;
        position: relative;
        width: fit-content;

        span {
          font-family: Mark Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 1.2rem;
          line-height: 100%;
          color: #a5b6d0;
        }
      }

      .chat-left {
        display: flex;
        justify-content: flex-start;

        .chat-min-card {
          border-radius: 0 0.8rem 0.8rem 0.8rem;
          padding: 1.6rem 7.2rem 1.6rem 1.6rem;
          text-align: left;

          span {
            position: absolute;
            right: 1.6rem;
            top: 1.8rem;
          }
        }
      }

      .chat-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .chat-min-card {
          border-radius: 0.8rem 0 0.8rem 0.8rem;
          padding: 1.6rem 1.6rem 1.6rem 7.2rem;
          text-align: right;

          span {
            position: absolute;
            left: 1.6rem;
            top: 1.8rem;
          }
        }
      }
    }
  }

  .chat-card-bottom {
    position: sticky;
    left: 0;
    bottom: 0;
    background: #ffffff;
    box-shadow: 0 -0.4rem 1.2rem rgba(34, 34, 34, 0.03);
    height: 9.4rem;
    display: flex;
    align-items: center;
    width: 100%;

    .chat-card-bottom-child {
      padding: 0 2.4rem;
      width: 100%;
      display: flex;
      align-items: center;
    }

    input {
      background: #eff4fc;
      border-radius: 5rem;
      height: 4.6rem;
      font-family: Mark Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 100%;
      color: #666666;
      padding: 0 2.4rem;
      border: none;
      width: 100%;
      margin-right: 0.8rem;
    }

    button {
      font-family: Mark Pro;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #2d2d38;
      background: #ffd05f;
      border-radius: 5rem;
      height: 4.6rem;
      border: none;
      width: 8.8rem;
      min-width: 8.8rem;
      padding: 0;
    }
  }
}

.detail {
  padding: 3.2rem 5.6rem;
  background: #ffffff;
  border-radius: 0.2rem;
  margin-bottom: 2.4rem;

  h5.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 100%;
    color: #2d2d38;
    margin-bottom: 2.4rem;
  }
}

.detail-content {
  border-bottom: 0.1rem solid #e9eef4;

  .detail-content-child {
    display: flex;
    align-items: center;

    span {
      width: 100%;
      min-height: 4.6rem;
      border: 0.1rem solid #e9eef4;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding-left: 3.2rem;
      font-family: Mark Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 150%;
      color: #444444;
      border-bottom: 0 !important;

      &:first-child {
        background: #f8fafc;
        border: 0.1rem solid #e9eef4;
        box-sizing: border-box;
        border-right: 0;
      }
    }

    div {
      margin-right: 1.2rem;
    }
  }
}

.read-more {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
  text-decoration-line: underline;
  color: #2d2d38;
  white-space: nowrap;
}

.select-class {
  .ant-btn {
    background: #ffffff;
    border: 0.1rem solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 0.6rem;
    height: 4.8rem;
    font-family: Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 100%;
    color: #2d2d38;
    width: 22rem;
  }
}

.desk-none {
  display: none !important;
}

.class-download {
  background: #ffcb6d;
  border-radius: 0.6rem;
  height: 3.8rem;
  width: 20.9rem;
  display: flex;
  align-items: center;
  font-family: Mark Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
  color: #2d2d38;
  white-space: nowrap;
  border: none;
  box-shadow: 0 0.4rem 0.6rem rgba(250, 198, 74, 0.12);
  margin-right: 2.4rem;

  span {
    background: #ffffff;
    border-radius: 0.6rem;
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    margin-right: 0.8rem;
  }
}

.class-contact {
  background: #ffcb6d;
  box-shadow: 0 0.4rem 0.6rem rgba(250, 198, 74, 0.12);
  border-radius: 0.6rem;
  font-family: Mark Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
  width: 17rem;
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d2d38;
  border: none;
  position: relative;
  padding: 0;

  img {
    position: absolute;
    left: 0.8rem;
    margin-right: 2.8rem;
  }
}

.class-send {
  background: #ffcb6d;
  border-radius: 0.6rem;
  height: 4.8rem;
}

.chat-card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  svg:first-child {
    margin-left: -5.6rem;
    margin-bottom: 0.8rem;
  }

  svg:last-child {
    margin-right: -5.6rem;
  }
}

.amount {
  display: none;
}

.subtitle-button {
  border: 0.1rem solid #363636;
  box-sizing: border-box;
  border-radius: 0.6rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
  color: #2d2d38;
  height: 3.8rem;
  padding-left: 1.2rem;
  padding-right: 1.6rem;
  white-space: nowrap;

  svg {
    transform: rotate(180deg);
    margin-left: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
  }
}

.orderHistoryCard {
  background: #ffffff;
  border-radius: 0.2rem;
  padding: 2.4rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;

  .order-title {
    h5 {
      font-family: Mark Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 100%;
      color: #a5b6d0;
      margin-bottom: 0.8rem;
    }

    span {
      font-family: Mark Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 100%;
      color: #464646;
    }
  }

  .class-order-download {
    width: 17.3rem;
  }
}

.total-discount-button {
  border: 0.1rem solid #363636;
  box-sizing: border-box;
  border-radius: 0.6rem;
  width: 12.8rem;
  height: 3.8rem;
  font-family: Mark Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
  color: #363636;
  background: #ffffff;
  padding: 0;
  opacity: 0.25;

  &.active {
    opacity: 1;
  }
}

.verify-account-button {
  background: rgba(54, 54, 54, 0.12);
  border-radius: 0.6rem;
  font-family: Mark Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d2d38;
  position: relative;
  height: 3.8rem;
  margin-top: 1.2rem;

  span {
    width: 2.2rem;
    height: 2.2rem;
    background: #a5b6d0;
    border-radius: 0.6rem;
    position: absolute;
    left: 0.8rem;
    top: 0.8rem;
  }
}

.upload-img-tab {
  .select-class {
    margin-right: 2.4rem;

    .ant-btn {
      width: 10rem !important;
      height: 10rem !important;
      border: .1rem dotted #D9D9D9 !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      svg {
        margin-bottom: .8rem;
      }
    }

  }
}

.react-switch-bg {
  width: 5rem !important;
  height: 2.4rem !important;
  border: 0.15rem solid #2d2d38;
  background: #fff !important;
  margin: 0 !important;
  padding: 0 !important;

  div {
    display: none !important;
  }
}

.react-switch-handle {
  background: #2d2d38 !important;
  border: 1.5px solid #2d2d38;
  width: 1.6rem !important;
  height: 1.6rem !important;
  // transform: translateX(.4rem) !important;
  top: 0 !important;
  bottom: 0 !important;
  margin: auto;
  left: 0.2rem;
}

.mobile-menu,
.mobile-menu-button {
  display: none;
}

@media (max-width: 767.9px) {
  .desk-none {
    display: flex !important;
  }

  .inner-sidebar,
  .company-info-progress-bar,
  .tab-info {
    display: none !important;
  }

  .resp-display-column {
    display: flex;
    flex-direction: column;

    .resp-order-1 {
      order: -1;
    }
  }

  .dashboard,
  .company-info {
    background-color: #ffff !important;
  }

  .dashboard-info-card {
    padding: 3.2rem 2.4rem 2.4rem;
    margin-bottom: 2.4rem;

    .sub-status p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .react-tabs__tab-list {
    overflow: auto;
    height: 4rem;
    width: 100vw;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
    position: relative;
    left: 50%;
    right: 50%;

    .react-tabs__tab {
      padding: 0 3.2rem !important;
      white-space: nowrap;
      height: 3.8rem !important;
    }
  }

  .company-info {
    .company-info-content {
      box-shadow: none !important;

      .react-tabs__tab-panel {
        padding: 5.6rem 0 !important;
      }

      .company-section {
        margin-top: 0 !important;
        margin-bottom: 4.8rem !important;
      }
    }
  }

  .tab-checkbox-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .checkbox-parent {
      width: 100% !important;
    }
  }

  h2.title {
    font-size: 2rem !important;

    span {
      display: none;
    }
  }

  .resp-mt-56 {
    margin-top: 5.6rem !important;
  }

  .profile-save {
    width: 100%;
  }

  .input-child:first-child {
    margin-right: 0 !important;
    margin-bottom: 3.2rem !important;
  }

  .input-child:last-child {
    margin-bottom: 0 !important;
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  label {
    span {
      display: none !important;
    }
  }

  .input-child.resp-mb-0 {
    margin-bottom: 0 !important;
  }

  .resp-mb-0 {
    margin-bottom: 0 !important;
  }

  .resp-none {
    display: none !important;
  }

  .resp-display-row {
    display: flex;
    align-items: center;
    flex-direction: row !important;
    margin-left: 0 !important;
  }

  .select-class {
    .ant-btn {
      min-width: 100%;
    }
  }

  .ant-upload-select {
    min-width: 100%;
  }

  .tab-header.resp-mb-32 {
    margin-bottom: 3.2rem !important;
  }

  .input-child textarea {
    height: 12.4rem;
  }

  .input-group.resp-mb-32 {
    margin-bottom: 3.2rem !important;
  }

  .resp-mb-16 {
    margin-bottom: 1.6rem;
  }

  .ant-btn>.anticon+span,
  .ant-btn>span+.anticon {
    font-size: 1.6rem;
  }

  .input-group.resp-mb-48 {
    margin-bottom: 4.8rem !important;
  }

  .detail-content-parent.resp-mb-48 {
    margin-bottom: 4.8rem !important;
  }

  .resp-mt-0 {
    margin-top: 0 !important;
  }

  .ant-upload.ant-upload-select-picture-card {
    width: 8.2rem !important;
    height: 8.2rem !important;

    .ant-upload {
      font-size: 1.2rem;
    }
  }

  .tab-header {
    p {
      br {
        display: none;
      }
    }
  }

  .user-header {
    padding: 0.8rem 0 3.2rem;
    width: 100%;
    display: flex;
    align-items: flex-end;

    h5 {
      font-size: 2rem;
    }

    .user-header-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .background-light-blue {
    background-color: #fff;
  }

  .resp-mr-0 {
    margin-right: 0 !important;
  }

  .selectContry {
    margin-bottom: 0.8rem;
  }

  .miniSearch {
    width: 16.4rem;
  }

  .messageCard {
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw !important;
    position: relative;
    left: 50%;
    right: 50%;
    padding: 1.6rem;
    position: relative;

    .img-container {
      min-width: 4.6rem;
    }

    p {
      position: absolute;
      bottom: 1.6rem;
      left: 7.8rem;
    }

    div {
      display: flex;
      align-items: flex-start;
    }
  }

  .sidebar-static-page {
    display: flex;
    align-items: center;
    overflow: auto;

    a {
      white-space: nowrap;
      margin-right: 4.8rem;
      font-size: 2rem;
      margin-bottom: 0;

      br {
        display: none;
      }
    }
  }

  .about {
    padding: 3.2rem 0 5.6rem !important;

    h4 {
      font-size: 2rem;
      width: 100%;
      margin-top: 4.8rem;
      margin-bottom: 1.6rem;
    }

    img {
      height: 21rem !important;
      border-radius: 0.6rem;
    }
  }

  .detail {
    margin-bottom: 4.8rem;
    padding: 3.2rem 1.6rem;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw !important;
    position: relative;
    left: 50%;
    right: 50%;

    .detail-content-child {
      span {
        min-height: 6.6rem !important;
      }
    }
  }

  .about-card {
    margin-bottom: 4.8rem !important;

    img {
      width: 2.4rem;
      height: 2.4rem !important;
    }

    .title {
      margin-bottom: 1.6rem !important;

      span {
        font-size: 2rem !important;
      }
    }

    p {
      margin-bottom: 0 !important;
    }
  }

  .terms {
    h5 {
      font-size: 2rem;
      margin-top: 4.8rem;
    }

    .terms-content {
      .title {
        margin: 5rem 0 1.6rem !important;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 100%;
        color: #262626;
      }
    }
  }

  .resp-display-flex {
    display: flex;
    align-items: center;
    flex-direction: row;

    .input-child {
      margin-bottom: 0 !important;

      &:first-child {
        margin-right: 1.6rem !important;
      }
    }
  }

  .login {
    padding-top: 0 !important;

    .login-content {
      width: 100vw;
      margin-left: -50vw;
      margin-right: -50vw !important;
      position: relative;
      left: 50%;
      right: 50%;
      border-radius: 0 !important;
      padding: 7.2rem 1.6rem !important;
      background-position: center;

      .logo {
        display: none;
      }

      .auth-container {
        width: 100% !important;

        .auth-container-inner {
          padding: 3.2rem 2.4rem !important;

          span {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            white-space: nowrap;
          }
        }

        .title {
          white-space: pre-wrap !important;
          width: 50%;
        }

        .infobar {
          span {
            white-space: pre-wrap !important;
          }
        }
      }
    }
  }

  .categoryHomeTop {
    display: none;
  }

  .hometop-contian {
    background-image: none !important;
    padding-bottom: 2.4rem !important;

    .swiper-class {
      width: 100vw;
      margin-left: -50vw;
      margin-right: -50vw !important;
      position: relative;
      left: 50%;
      right: 50%;
      height: 21rem !important;
    }
  }


  #main .swiper-button-prev,
  #main .swiper-button-next {
    width: 3.2rem !important;
    height: 3.2rem !important;
    top: 9rem;
  }

  .product-filter {
    display: none;
  }

  .suppliers-card {
    display: flex;
    flex-direction: column-reverse;

    .suppliers-card-right {
      width: 100% !important;

      img {
        width: 100% !important;
        margin-left: 0 !important;
        border-radius: 0.3rem;

        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }
    }

    .suppliers-card-left {
      width: 100% !important;
      padding-top: 1.6rem !important;

      .title {
        font-size: 1.8rem !important;
      }

      .supplier-card-list {
        div {
          margin-bottom: 1.6rem !important;
        }

        p {
          margin-bottom: 0 !important;
        }

        span {
          text-align: right;
        }
      }
    }
  }

  .resp-df-fdc {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;

    div {
      width: 100%;
    }
  }

  .contact-suppliers {
    display: none !important;
  }

  .about-company {
    background-color: #fff !important;

    .social-icons-container {
      a {
        span {
          display: none !important;
        }
      }
    }

    .about-company-content {
      // padding-bottom: 0 !important;

      .about-company-header {
        img {
          height: 10rem !important;
          display: block;
          width: 100vw !important;
          margin-left: -50vw;
          margin-right: -50vw !important;
          position: relative;
          left: 50%;
          right: 50%;
          z-index: 1;
        }

        .about-compant-header-content {
          padding: 0 !important;
          margin-top: -2.4rem !important;
          align-items: flex-end !important;

          .img-container {
            min-height: 8.2rem !important;
            min-width: 8.2rem !important;
            height: 8.2rem !important;
            width: 8.2rem !important;

            img {
              display: flex !important;
              width: 100% !important;
              position: static !important;
            }
          }

          .title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }

          p {
            margin-bottom: 0 !important;
          }
        }
      }

      .about-company-header-middle {
        padding: 0 !important;
      }
    }

    #about {
      height: 16.4rem !important;
      margin-bottom: 0 !important;
    }

    .about-company-video {
      display: none;
    }

    #aboutCompany {
      height: 16.4rem !important;
      margin-bottom: 0 !important;
      margin-right: 0 !important;
    }
  }

  .product-page-left-details {
    display: flex;
    align-items: center;

    a {
      padding: 0;
      height: 4rem;
      width: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      border-left: none;
      border-bottom: 0.2rem solid transparent;

      &.active {
        border-left: 0;
        border-bottom: 0.2rem solid #ffd05f;
        font-weight: 500;
      }
    }
  }

  .edit-button {
    display: none;
  }

  .multyFilter,
  .button-grid {
    display: none;
  }

  .traning-center-page {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .training-vodeo-card {
      margin-bottom: 4.8rem;

      img {
        height: 19.2rem;
      }
    }

    .traningCenter-content {
      padding: 5.6rem 0;
    }
  }

  .dashboard-card {
    padding: 2.4rem;

    h5 {
      margin-bottom: 4rem !important;
    }
  }

  .phone-country {
    &.price-select {
      width: 100%;

      input,
      select {
        min-width: 50%;
      }
    }
  }

  .resp-mt-56 {
    margin-top: 5.6rem !important;
  }

  .header-top {
    display: none !important;
  }

  .header {
    position: relative;
  }

  // .header-input-checkbox {
  //   display: none;
  // }
  .settings-button {
    display: block !important;
  }

  .header-menu-left {
    display: block;

    .header-bottom-left-child {
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: 0;
      z-index: 33;
      background-color: #fff;
      top: 6.8rem;
      display: none;

      &.active {
        display: block;
      }
    }

    .mobile-button-head {
      display: block;
      position: absolute;
      top: 1.8rem;
      left: 1.6rem;
      background-color: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;
    }

    .mobile-menu-button {
      display: block !important;
    }

    .mobile-menu {
      width: 100%;
      display: block !important;

      ul,
      .categoryHomeTop {
        display: block !important;
        width: 100%;
      }

      .categoryHomeTop {
        padding: .8rem 1.6rem;
        border: none;
        width: 100%;

        .title {
          font-size: 1.6rem;
          margin-bottom: 2.4rem;
        }

        ul {
          li {
            a {
              font-size: 1.8rem;
              color: #666666;
            }

            padding-bottom: 1.6rem;
            margin-bottom: 1.6rem;
            border-bottom: .1rem solid rgba(102, 102, 102, 0.12);

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }

    &.active {
      display: block;
    }
  }

  .menu-account-toggle {
    height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .react-switch-bg {
      width: 2.2rem !important;
      height: 1.4rem !important;
    }

    .react-switch-handle {
      height: .6rem !important;
      width: .6rem !important;
    }
  }
}