.homeCompaines {
    margin-bottom: 7.2rem;

    h5 {
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2D2D38;
        margin-bottom: 3.2rem;
    }

    @media(max-width: 767.9px) {
        margin-bottom: 4.8rem;

        h5 {
            font-size: 2rem;
            margin-bottom: 2.4rem;
        }
    }
}