.mobile-account-menu {
    position: absolute;
    left: -1.6rem;
    top: 6.8rem;
    width: 100vw;
    background-color: #fff;
    z-index: 9999;
    height: 100vh;
    padding: 2.4rem 1.6rem;
    // display: none;

    .menu-dashboard-link {
        border: .1rem dashed #C4C4C4;
        box-sizing: border-box;
        border-radius: .6rem;
        width: 50%;
        margin-right: 1.6rem;
        height: 5rem;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-style: normal;
        font-weight: 500;
        font-size: 14px !important;
        line-height: 100%;
        color: #2D2D38;

        img {
            width: 3.8rem;
            height: 3.8rem;
            border-radius: 50%;
            margin-right: .8rem;
            margin-left: 1.2rem;
        }
    }

    .header-post-request {
        display: flex !important;
        position: relative;
        height: 5rem;
        font-family: Mark Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 100%;
        color: #2D2D38;

        img {
            position: absolute;
            left: .8rem;
            height: 3.4rem;
            width: 3.4rem;
        }
    }

    .header-input-checkbox {
        border: .1rem solid rgba(196, 196, 196, 0.25) !important;
        box-sizing: border-box;
        border-radius: .6rem;
        color: #2D2D38 !important;
        height: 5rem !important;
        width: 50% !important;

        label {
            font-family: Mark Pro;
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem !important;
            line-height: 100%;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center !important;
        }

        input {
            position: absolute;
        }
    }

    .mobile-account-a {
        font-family: Mark Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 100%;
        color: rgba(45, 45, 56, 0.5);
        margin-bottom: 2.4rem;
        position: relative;

        span {
            font-size: 1.4rem;
            position: absolute;
            left: 9.6rem;
            border-radius: .2rem;
            width: 1.8rem;
            height: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            top: .2rem;
        }

        .blue-span {
            color: #0062FF !important;
            background: rgba(0, 98, 255, 0.12) !important;
        }

        .red-span {
            color: #E74445 !important;
            background: rgba(231, 68, 69, 0.12) !important;
        }
    }

    .menu-account-inner-mobile {
        border-top: .1rem solid rgba(102, 102, 102, 0.12);
        padding-top: 3.2rem;
    }

    .logout-menu-a {
        box-sizing: border-box;
        border-radius: .6rem;
        font-family: "Mark Pro";
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        margin-bottom: 1.6rem;


        &.signin-button {
            border: .1rem dashed #C4C4C4;
            color: #2D2D38;
        }

        &.signup-button {
            background: #2D2D38;
            color: #FFFFFF;
            position: relative;

            img {
                position: absolute;
                left: .8rem;
                width: 3.4rem;
                height: 3.4rem;
            }
        }
    }
}