.login {
    padding: 2.4rem 0;

    .login-content {
        background-image: url(../../../assets/login.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 64.8rem;
        padding: 3.2rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2.4rem;

        .logo {
            position: absolute;
            left: 3.2rem;
            top: 3.2rem;
        }

        .auth-container {
            box-shadow: 0px 0px 12px rgba(34, 34, 34, 0.06);
            width: 46rem;

            .auth-container-inner {
                padding: 5.6rem 2.4rem;

                .login-google {
                    background: #FFFFFF;
                    border: .1rem solid rgba(45, 45, 56, 0.05);
                    box-sizing: border-box;
                    border-radius: .2rem;
                    margin-right: 2rem;
                    white-space: nowrap;
                }

                .login-facebook {
                    background: #1877F2;
                    border-radius: .2rem;
                    white-space: nowrap;
                }
            }
        }
    }
}

// .header {
//     display: none;
// }